[2021-01-04 13:36] Matthieusch commented on #676
or just an option to choose which single buff we want to keep :)

[2021-01-04 13:45] Cilraaz commented on #677
Fixed in commit https://github.com/herotc/hero-rotation/commit/c1b4c7452f09546b4b8b9dccc43a1bcdbda402a9

[2021-01-04 13:45] #677 closed, assigned to Cilraaz

[2021-01-05 10:12] Tyriion opened #682 "dh havoc"
Message: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:406: attempt to index field 'Blur' (a nil value)
Time: Tue Jan  5 11:12:17 2021
Count: 97
Stack: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:406: attempt to index field 'Blur' (a nil value)
[string "@Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua"]:406: in function `?'
[string "@Interface\AddOns\HeroRotation\Main.lua"]:445:

[2021-01-05 10:14] Tyriion commented on #682
bekomme seit heute diesen lua fehler was kann ich dagegen tun?

[2021-01-05 12:19] RussellAnas opened #683 "Shadow Priest: Off GCD Not working"
Hi,
'Surrender to madness' keeps showing as a main spell even when 'show as off gcd' is selected. Please fix!

[2021-01-05 13:15] Cilraaz commented on #682
Fixed in commit https://github.com/herotc/hero-rotation/commit/d46e923aae373a855bd7d4ab122ce2ec66da1983

[2021-01-05 13:15] #682 closed, assigned to nobody

[2021-01-05 13:18] Cilraaz commented on #683
This has been "fixed" in commit https://github.com/herotc/hero-rotation/commit/87cc6e7eacd0c1cb61b82db56e9bf81e4e612bcc

The option for OffGCD has been removed, as the spell is only called via CastCycle, which can only display on main icon or left nameplate.

[2021-01-05 13:18] #683 closed, assigned to Cilraaz

[2021-01-05 13:46] Cilraaz commented on #683
This has been changed. OffGCD should now work for Surrender to Madness.

[2021-01-05 15:05] RussellAnas commented on #683
I just installed the alpha version but it's still not working. Surrender to Madness is shown on main icon instead of off gcd slot even when off gcd slot is enabled.

[2021-01-05 15:06] Cilraaz commented on #683
CurseForge hasn't packaged alpha versions for us in months. It'll be included in the 9.0.2.19 release, or you can download it from github.

[2021-01-05 15:10] RussellAnas commented on #683
Thanks for the quick turn around!!!

[2021-01-06 15:26] VSmoL opened #684 "[Paladin-Ret] Final Verdict legendary power"
Addon doesn't show Final Verdict in rotation when you are using Final Verdict legendary power. Seems like that addon doesn't recognize Final Verdict and skips it from rotation.

[2021-01-06 18:29] #675 closed, assigned to nobody

[2021-01-07 03:51] ewer0012 opened #686 "[Shaman-Enh] Windfury Totem"
When you have another Enh Shaman in the group, if they drop their Windfury totem before you, it only shows that you should drop Windfury totem, till your totem is the last one standing. Is there a way to get an option to show totem reminders on the side?

[2021-01-07 13:50] jo32 opened #687 "Monk - Settings.lua - Syntax Error"
line 112

[2021-01-07 13:51] jo32 opened #688 "Monk - Windwalker_EXPERIMENTAL.lua - about usage"
Can I use a macro to switch to next suggested target?

[2021-01-07 13:51] mrdmnd commented on #688
I have mouseover macros for all of the suggested abilities; and that works pretty well for me. You cannot directly control targeting from in game addons or macros, though, so you'll have to do it manually.

[2021-01-07 14:01] Kutikuti commented on #687
Thanks for the report,
Fixed in https://github.com/herotc/hero-rotation/commit/c3afde2cb84bfb9468d1f2e285b45338a4592301

[2021-01-07 14:01] #687 closed, assigned to nobody

[2021-01-07 14:02] Kutikuti commented on #688
As @mrdmnd said, you can't control which target to switch with a macro

[2021-01-07 14:02] #688 closed, assigned to nobody

[2021-01-07 14:13] Kutikuti commented on #671
There is no current plan to add next spell in queue because it's way too situatuonal. Some spells are required to be launch in a certain order and that would result in a dps lost or require rotation maintainer to make big modifications to the rotation and add unnecessary cluter

[2021-01-07 14:13] #671 closed, assigned to nobody

[2021-01-07 14:14] Kutikuti commented on #674
Do you have any lua error poping up ? What is the "bug" ?
Could you provide your talent/conduit/soulbind/legendary setup ?

[2021-01-07 14:34] Herdrage opened #689 "[Monk-MW] request to add touch of death"
Could ToD be added for MW with an option to show off-gcd? Evaluating all targets eligible would be a bonus too

[2021-01-08 03:15] jo32 commented on #688
@mrdmnd got it. btw, rotation works very very well, thank you.

[2021-01-08 03:29] mrdmnd commented on #688
Thanks @jo32 - a labor of love <3

[2021-01-08 15:54] Dragonfo opened #691 "Remove trinkets from PVP rotation [FDK]"
I was randomly wearing a PVP trinket that removes all negative effects, and it was offered in rotation. please remove it.
And if possible, see if there is still this kind of rotation in the rotation so that there are no problems. Thank you.

[2021-01-08 15:55] Cilraaz commented on #691
What trinket were you using? We can look at adding it to the blacklist. It's simply a function that will suggest any non-blacklisted on-use trinket at that point in the rotation.

[2021-01-08 15:56] Dragonfo commented on #691
https://www.wowhead.com/item=184052/sinful-aspirants-medallion?bonus=6793 This trinket is displayed in rotation.

[2021-01-08 17:51] Cilraaz commented on #691
The Sinful Aspirant's Medallion was already blacklisted (change is in the github, but not in current release version 9.0.2.07), as was the Sinful Gladiator's Medallion. I've added the Corrupted versions to the blacklist. Please let me know if this is still a problem after the next release version of HeroLib, which will be 9.0.2.08.

[2021-01-08 17:51] #691 closed, assigned to Cilraaz

[2021-01-08 17:53] #673 closed, assigned to nobody

[2021-01-08 22:16] ewer0012 commented on #686
Or, I guess, have it pick up that you have a WF totem buff, regardless of what Enh Shaman it's from?

[2021-01-09 11:58] Enyaluis commented on #675
thank you @lithium720 it seems to be working really well now.

[2021-01-10 04:56] jo32 opened #693 "[Monk-Windwalker] EXPERIMENTAL.lua - Efficiency calculation may not be perfect."
When in WeaponsOfOrder of order the cost of BOK is always 0, which makes the efficiency of it to be very large. Therefore, there may exist properer efficiency calculation.

[2021-01-10 05:10] mrdmnd commented on #693
Yeah, this is true; we probably need to special case WOO a bit.

[2021-01-10 07:33] jo32 commented on #693
Maybe the efficiency can be defined as：

damage it's going to deal / (time it need to cast(normally 1gcd) + time needed to generate those resources)

because our aim is to improve the dps. So lines like below can be ajusted from：

[code]

to

[code]

because we usally use tiger palm to generate 2 chi and use 1 gcd, casting the spell itself uses 1gcd. However, I haven't tested yet and more accurate

[2021-01-10 17:02] MrSmurfy opened #694 "Affliction Warlock issues"
With the latest release the affliction warlock rotation isn't working correctly, it keeps wanting to cast Unstable Affliction.
I noticed a lot of changes were made to the rotation, but I am guessing the logic for if the debuff is refreshable is not working correctly.

Another thing I noticed is that with cooldowns off, it wants me to use my trinket, I don't think that should be happening.

[2021-01-10 18:19] Cilraaz commented on #694
I've been unable to replicate this issue. Can you please provide the following:
- Your HeroRotation version
- Your HeroLib version
- Your talent selections
- Is War mode enabled?
- If yes, your PvP talent selections
- Soulbind in use
- Conduits in use

Thanks!

[2021-01-11 00:28] MrSmurfy commented on #694
Hey Cilraaz,

HeroRotation version 9.0.2.21
HeroLib version 9.0.2.08

Talents:
Drain Soul
Siphon Life
Burning Rush
Phantom Singularity
Mortal Coil
Haunt
Dark Soul: Misery

Warmode is disabled.
I don't use any Affliction Conduits at the time of testing.

I could make a recording of it if that helps you troubleshoot it better. Just let me know.
Thanks for making Affliction up-to-date for SL :)

[2021-01-11 00:51] MrSmurfy commented on #694
Can't replicate it anymore. Thanks for all your work.
Only QoL thing I could suggest is the night fae spell, Soul Rot while casting shows for the whole duration of the cast, instead of switching to the next recommendation.
All in all a very good update, thanks @Cilraaz !

[2021-01-11 01:50] Wigglefox opened #695 "[Monk-Brewmaster ] rotation"
Im having problems with bremaster monk not using rushing jade wind or breath of fire. It only uses keg smash then blackout kick until keg smash is available again

[2021-01-11 03:02] lithium720 commented on #686
should be fixed in c3aa01c

[2021-01-11 03:02] #686 closed, assigned to nobody

[2021-01-11 17:36] #640 closed, assigned to nobody

[2021-01-13 04:18] ewer0012 commented on #686
I made this change in my Enhancement.lua but it doesn't seem to fix the issue. Is there another change that needs to be made for it to work?

With 2+ Enh Shaman in the group, if they place their totem(s) first, It just shows that I need to cast Windfury Totem and no other spells.

Tested this out with another Shaman on the training dummies just a few minutes before posting. The sequence was:

1: O

[2021-01-13 04:28] ewer0012 commented on #686
For Single Target in Enhancement.lua, would lines 196, 197, and 198 be causing this?

As well as lines 329, 330, and 331 for AoE?

[2021-01-13 04:29] dmillerlx commented on #639
I am seeing the same error.  I disabled all other addons and no joy.  I went to the maw and tried on the first mob I saw.  I received icons for:
1 - charge
2 - avatar
3 - warbreaker
4 - overpower
Then the LUA error popup appeared with message below.

`Message: Interface\AddOns\HeroLib\Class\Unit\Aura.lua:32: attempt to index local 'ThisSpell' (a nil value)
Time: Tue Jan 12 20:24:05 2021
Count: 5
S

[2021-01-13 04:39] Cilraaz commented on #639
Fixed in commit https://github.com/herotc/hero-rotation/commit/b7151f82b4cd3eb84eaf7b5d92c3a61df9842057

[2021-01-13 04:39] #639 closed, assigned to Cilraaz

[2021-01-14 10:59] MrSmurfy commented on #670
Can confirm, I also have this issue.

[2021-01-14 14:14] Cilraaz commented on #694
I'm going to re-open this issue. I noticed it on the world boss this week. I believe it has something to do with the function we're using to determine which unit has Unstable Affliction. I've added some debug code to my local copy and will see if I can find out why this is randomly happening.

[2021-01-14 15:32] MrSmurfy commented on #694
Yes it's rather weird. It was happening consistently on target dummies for me when I initially reported this but after reloading I couldn't reproduce it.
Thanks for looking into it.

[2021-01-14 16:04] kodatea opened #698 "survival hunter rotation stuck"
rotation gets stuck on trying to use kill shot above 20% hp on single target fights

[2021-01-14 20:35] vcorruptc opened #699 "[DK - UH] Errors Only on Dark Iron Dwarf DK"
This one is kind of weird.  My horde DK works fine, but my Alliance DK's scourge strike and festering strike doesn't show up.  Error below:
2309x HeroRotation_DeathKnight\Unholy.lua:324: attempt to index global 'ArmyoftheDead' (a nil value)
[string "@HeroRotation_DeathKnight\Unholy.lua"]:324: in function <HeroRotation_DeathKnight\Unholy.lua:297>
[string "@HeroRotation_DeathKnight\Unholy.lua"]:438:

[2021-01-15 10:24] Zekke opened #701 "[Warrior - Arms] Ravager bug (Venthyr)"
Addon stop suggesting spells when ravager is ready while out of execution phase (80 -> 35%). It starts suggesting spells again once you cast ravager.
Talents : 2-1-1-3-2-2-3
Covenant : Venthyr

[2021-01-15 10:26] Zekke opened #702 "[Warrior - Arms] Cooldowns"
Addon keeps suggesting the use of cooldowns (avatar, bladestorm, ravager, deadly calm...) even when the cooldown button is disabled.

[2021-01-15 16:39] Cilraaz commented on #694
I'm hoping this is fixed in commit https://github.com/herotc/hero-rotation/commit/ad23014f38e4412ba9e198fe7b74dc2aea1613c5

[2021-01-15 18:45] Cilraaz commented on #694
I'm changing the tag on this to Blizzard Issue. The reason it's seemingly randomly occurring is that we can only track enemies by their nameplates. On larger mobs, such as the world bosses, the nameplates can leave the screen. When they do, they're no longer counted in the enemy table. The workaround from the previous commit should work, but a better fix would be to clamp the nameplates to the scr

[2021-01-15 18:45] #694 closed, assigned to Cilraaz

[2021-01-16 20:37] mrdmnd commented on #693
I haven't taken a look at your implementation yet @jo32 but I have pushed a small fix you're welcome to use that simply takes the existing WOO APL and uses it directly here. I'd love to unify the two approaches if possible in the long run, though.

[2021-01-16 20:37] mrdmnd commented on #693
https://github.com/herotc/hero-rotation/commit/3da5102eb2addcc19ad76c601618d2e32fd83180 should add this functionality.

[2021-01-18 15:32] wheatbread opened #706 "[Suggestion] Option to show next 3 actions instead of just 1"
It would be great if we had the option to show the next 3 actions instead of 1, similar to Ovale or Hekili.  It means you can plan ahead just a bit more, or go to the next one if the first one suggested isn't what you want to do (ex. it suggests rolling the bones when I still have a few seconds of a 5-stack buff left).

[2021-01-18 23:58] Herdrage commented on #706
Certain abilities you can go in the settings to have them show in the top icon as a suggestion, including roll the bones, blade dash, blade flurry etc. It's usually an option for long cd abilities or st+aoe (frozen orb, eye beam, blade dash etc) abilities.

Many times I've also requested some abilities to have the option to be in the suggested icon and the devs were happy to add it if it made sens

[2021-01-22 13:37] Dragonfo opened #708 "Please update the Unholy rotation."
Much time has passed, and already a lot has changed in the rotation. Can you update it to an acute state?

[2021-01-22 14:30] #708 closed, assigned to nobody

[2021-01-22 14:53] Cilraaz commented on #702
Fixed in commit https://github.com/herotc/hero-rotation/commit/b321f2bdea2fe672f8bd3b509a176ac3e2545074

[2021-01-22 14:53] #702 closed, assigned to Cilraaz

[2021-01-23 17:14] CrusaderJohnny commented on #699
Can confirm, my dark iron dwarf is having the same error. Keeps saying armyofthedead a nil value, same error you are getting. But It is very rare. It does not have to do with Army being on CD or off as I have the error both ways. I am wondering if my dark iron racial is what is causing this issue as I notice it mainly after it tells me to do dark transformation and I have that macrod for Fireblood

[2021-01-23 17:21] Cilraaz commented on #699
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/d3e9444307ca54ee343a86fff6d3dd48ad82d1da

[2021-01-23 17:21] #699 closed, assigned to Cilraaz

[2021-01-24 17:36] wheatbread commented on #706
Huh, I actually specifically looked for an option to move Roll the Bones to a suggestion instead of a required action before coming to suggest this, and I couldn't find it.  Looking now, I still don't see it.  The most I see is an option for Killing Spree to be a suggestion.

At any rate, I still think being able to foresee the next 3 abilities instead of just 1 is an advantage as it removes that

[2021-01-24 20:22] Herdrage commented on #706
oh sorry. It used to have that option in BFA. I haven't minded it this expac since they made it into a 45 sec cd. You can put in a request to have it as an option. Or if there's a certain buff you always want you can change the roll the bones logic in the options.

[2021-01-25 17:10] Ankhy opened #709 "[Monk - Windwalker] EXPERIMENTAL.lua - Suggestive spells on AOE"
It ruins aoe if there is a main target and only small ads to burn, cause it stops showing rotation in main window and tries to force you to change target to apply mark of the crane, but that can be highly inefficient in many situations. Maybe keep the rotation in the main window while suggesting other targets?

[2021-01-26 05:39] dmillerlx opened #710 "Warrior - Venthyr Condemn"
I can't seem to get Venthyr Condemn to show in the rotation.
I confirmed the spellId is 330334, but it seems to never show condemn as the next action.
I added some debug statements and I think arms.lua ~ 216 is not working as expected.

`
if HR.Cast(S.Condemn, nil, Settings.Commons.CovenantDisplayStyle, not Target:IsSpellInRange(S.Condemn)) then
`

![Condemn debug](https://user-images.githubuserco

[2021-01-26 06:15] ryanbowen commented on #710
It's behind your Overpower icon.

[2021-01-26 10:54] dmillerlx commented on #710
Thanks for the quick response.  I was not expecting to see another icon to the upper left of the main action showing Condemn.  Was expecting to see the main action replaced by the Condemn icon.

I cleaned up the UI and repositioned it, and can clearly see the slam and condemn icon.

![WoWScrnShot_012621_024011](https://user-images.githubusercontent.com/10935489/105835928-5c5dc080-5f81-11eb-9c8b-82

[2021-01-26 10:54] #710 closed, assigned to nobody

[2021-01-26 13:14] Cilraaz commented on #710
You can use the Covenant Display Style option to change the location of your covenant abilities between "Suggested" (upper left, where it currently is), "Main Icon" (the... main icon), and "Cooldown" (above the main icon with other 'OffGCD' abilities). Trinkets have this same option. It's found under the class options, rather than spec options.

[2021-01-29 01:15] chimikoo opened #711 "[Monk-Windwalker] Priority is broken in latest build."
As stated as of build 9.0.2.24 windwalker monk's priority is pretty broken. It recommends spamming blackout kick during WOO.
Its sorted by using Experimental lua instead but that has some questionable pooling going on, like pooling energy while being at 100 energy and only having 2 chi.

[2021-01-30 20:17] RussellAnas opened #712 "Warrior: Bladestorm shows as 'Main' icon even when 'show as off gcd' checked"
Bladestorm shows on the main icon even when 'show as off gcd' is checked on both fury and arms. Would appreciate a fix!

[2021-01-30 20:38] AmbassadorZim opened #713 "[Enhance Shaman] lightning shield"
If you are running earth shield, the rotation get frozen on lightning shield and continues to suggest it, please allow it to identify you are using earth shield instead.

[2021-01-30 20:41] Cilraaz commented on #712
Fury is fixed in commit https://github.com/herotc/hero-rotation/commit/74c66287824943b8539de102058d5995cfc7f48a

Arms was fixed in a previous commit.

[2021-01-30 20:41] #712 closed, assigned to Cilraaz

[2021-01-31 11:01] RussellAnas opened #714 "[Balance Druid] - Keybinds not showing correctly"
Keybinds are not showing for some spells, and for others, they're not updating when changing keybinds. Would appreciate a fix!

[2021-01-31 16:44] Cilraaz commented on #714
What hotbar addon are you using? What spells are not showing a keybind?

[2021-02-01 09:09] RussellAnas commented on #714
Not using any hotbar addon, using default wow keybinds. 'Wrath', 'Sunfire', 'Moonfire' etc., all of them don't show updated keybinds. Basically all spells on my balance druid having a problem.
Works fine on my warrior, priest etc.

[2021-02-01 15:02] EloneSK commented on #714
please fix the addon, it will only show me the only spell [Wrath] and trinket. I also deleted the Keybinds. You can't play with that addon. Hunter, the Paladin is working normally. The druid is completely wrong.

[2021-02-01 15:16] Cilraaz commented on #714
There is no keybind code in the spec profiles. If it works for one spec, it should be working for all specs. I also can't replicate any issue with keybinds not showing for Balance.

[2021-02-01 15:30] EloneSK commented on #714
so what is the solution to make the balance work normally?

[2021-02-01 15:45] RussellAnas commented on #714
No idea what's the problem, but here are two screenshots for you. If you see, one of the spells is not showing a keybind, the other is showing the wrong keybind
![image](https://user-images.githubusercontent.com/77004545/106481452-46df1e00-64ce-11eb-8dfa-5b59099f3a2b.png)
![image](https://user-images.githubusercontent.com/77004545/106481521-565e6700-64ce-11eb-8043-9451fa23bd55.png)

[2021-02-01 15:46] RussellAnas commented on #714
I've tried re-installing the addon, deleting saved variables, and resetting wow keybinds, it's still not working

[2021-02-01 15:59] EloneSK commented on #714
as RussellAnas writes, I deleted all the addon saves, I deleted the complete Addons, WDB ,WTS folder in the game and game saves.  I reinstalled Addons and Hero rotation addon and it still shows spell wrath when I start a fight and then.
I don't understand anything.
Alternatively, I can attach a screenshot of the game.

[2021-02-01 16:30] rmfb commented on #714
@EloneSK

This sounds like you are not using the correct version of the balance script. You should sync or download the GitHub directory since the alpha package isn’t always posted to curse due to a packaging issues with curseforge. Also, the last time I tried out the balance script it was missing covent spells. It is still listed as wip, so I would rely on it outside of open world questing right

[2021-02-01 18:01] EloneSK commented on #714
you were right.  The version on curseforge was bad.  I put a download from GitHub and rewrote the directory and it's getting better.  it doesn't show keybinds but you can play with it.  well thank you

[2021-02-01 19:49] EloneSK commented on #714
![dudu](https://user-images.githubusercontent.com/78366434/106510253-fb793f80-64ce-11eb-8fb8-9a345d8c07a8.jpg)

[2021-02-01 23:47] Cilraaz commented on #666
Profile has been updated to current as of commit https://github.com/herotc/hero-rotation/commit/22d588a244cc9b94e40e0ccd0b5979ae41250318

This should no longer be a problem.

[2021-02-01 23:47] #666 closed, assigned to Cilraaz

[2021-02-02 00:23] Cilraaz commented on #714
I've been able to replicate the issue, but don't have a fix for it yet. My caster form bar mirrors my moonkin form bar. When this is the case, hotkeys show fine. It seems like we're reading the caster bar (the base hotbar) and not the moonkin form bar. I'll have to get one of the guys who is much better at the core stuff to take a look at it.

[2021-02-02 06:25] geraint425 opened #715 "[DK-UH] The long-distance epidemic does not work and there is no support for trinkets."
Hello. Thanks for the updated rotation. And I am testing a new assembly, I noticed that the epidemic does not work correctly at long distances. It turns out when I use Outbreak on a target and run away from them, I am not offered an epidemic in rotation, it occasionally jumps, but not always. I also noticed that there is no trinket support. I tried both from the raid and from Mythyc+ the addon doe

[2021-02-02 07:11] EloneSK commented on #714
great, thank you for your understanding and help.  We will wait for the repair.

[2021-02-02 09:19] exodus444 commented on #714
There is also often a problem with '-' and '=' hotkeys not showing up for multiple classes. Hard to replicate, but seeing it every once in a while.

Here's an example (binding is set via the blizzard UI, ACTIONBUTTON12 - it should be showing '=', but it's not):

![image](https://user-images.githubusercontent.com/158017/106581970-c0652380-6543-11eb-87b1-4f3133fd692d.png)

GetBindingKey("ACTIONBUTTO

[2021-02-02 10:01] exodus444 commented on #714
Looks to me like this logic is incorrect:

`  local PreviousBarIndex = mathfloor(ActionSlot / 12)
  local BarIndex = mathceil(ActionSlot / 12)
  local ActionSlotOffset = PreviousBarIndex * 12
  local BarSlot = ActionSlot - ActionSlotOffset
`
floor(11/12) = 0, floor(12/12) = 1,
ceil(11/12) = 1,   ceil(12/12) = 1

As a result, for the ActionSlot 12 we get BarIndex = 1, BarSlot = 0 and obviously ther

[2021-02-02 10:12] exodus444 commented on #714
Possible fix HeroLib/Events/Action.lua:109

![image](https://user-images.githubusercontent.com/158017/106585816-091edb80-6548-11eb-8053-f4aa64f8fbfe.png)

[2021-02-02 10:15] exodus444 commented on #714
Yeah, fix is working:

![image](https://user-images.githubusercontent.com/158017/106585720-edb3d080-6547-11eb-91b7-7276931945f9.png)

[2021-02-02 12:09] RussellAnas commented on #714
Let me know when this is deployed, I'll download from here and verify as well

[2021-02-02 14:46] Cilraaz commented on #714
This change did not affect anything in my testing. If the button is removed from the base action bar, the hotkey does not show on the shifted action bar.

Edit: I did push this in commit https://github.com/herotc/hero-lib/commit/d8e79e904ddfb793f6d5d0bed078d69a48e89b0b as a fix for the ActionButton12 issue. However, it does not fix the issue that occurs with stance paging.

[2021-02-02 15:28] exodus444 commented on #714
It's a different issue then. The fix above is for the actions located on every 12th button of the bar not showing up the keybind.

[2021-02-02 18:41] Dragonfo commented on #715
Also noticing having gone to the raid. That during the ST fight with the boss, an epidemic, Death and decay may be offered to the rotation. And I tried to enable and disable on the ST and AOE panels, these abilities were still offered in the rotation. I also noticed that the addon offers little to press on the execution phase
He begins to offer Soul Reaper conditionally somewhere at 45-50%, and af

[2021-02-02 19:13] Cilraaz commented on #715
@narvell3 I added an out of range check for epidemic. It will be suggested if it's able to be casted, at least 1 target has Virulent Plague, we shouldn't be pooling RP (per the APL variable), and we have zero targets within 8 yards. Trinkets are 100% supported. Make sure that you have "Show Trinkets" enabled in your class settings.

@Dragonfo Epidemic is not suggested when there is only one target

[2021-02-03 09:11] RussellAnas commented on #714
So any update on the keybinds issue for Druid? Will it be getting fixed?

[2021-02-03 17:44] Dragonfo commented on #715
Thanks for the fix. But there are some problems. It turns out that the addon does not seem to react to the AOE button. I seem to be pere-toggling and the rotation does not change, with AOE when I am with 4+ targets. Plus, an interesting thing was noticed. That if I run very far away from the CT target, then an epidemic is suggested. And this should not be. Since the epidemic is only effective when

[2021-02-03 17:59] Dragonfo commented on #715
and it was also noticed that the apocalypse is offered to be pressed, without stacks of Festering Wound. Or on 2 stacks

[2021-02-03 18:19] Cilraaz commented on #715
Adherence to the AoEON setting has been added in commit https://github.com/herotc/hero-rotation/commit/449e4c21d993bc00847d6cf0cb4d5e10fd811e7f

I also changed the out of range Epidemic cast suggestion to require 2 targets with Virulent Plague, as well as adding an out of range Death Coil suggestion if less than 2 targets have Virulent Plague. Both of these suggestions are reliant upon the pooling

[2021-02-03 18:31] #715 closed, assigned to Cilraaz

[2021-02-03 18:38] Dragonfo commented on #715
This is all clear above, thanks for the fix, the bug with the apocalypse really exists. Because, you can check for yourself what the addon can offer it in rotation, but there is no Festering Wound on the target. I'm currently in a raid, and lust is given from the pool, and the rotation is perfect at the beginning, and as soon as it comes to the apocalypse, he offers to press it when there is no Fe

[2021-02-03 19:09] Cilraaz commented on #715
Here is the line of code for the Apocalypse suggestion:

if S.Apocalypse:IsCastable() and S.Apocalypse:IsUsable() and ((EnemiesMeleeCount == 1 or not AoEON()) and Target:DebuffStack(S.FesteringWoundDebuff) >= 4) then

As you can see, it clearly requires a 4+ stack of Festering Wound. I've also not seen it ever suggested _without_ 4+ stacks of Festering Wound.

[2021-02-03 19:35] Dragonfo commented on #715
https://imgur.com/a/G8UUgSl
This is the rotation of the opener that the addon offers. here's my panel and take a look and you won't see my festering wound stacks on WA.
https://imgur.com/a/JoNdre9
And so I attached my talents that were taken from the covenant.

[2021-02-03 19:43] Dragonfo commented on #715
So I turned on the debug, and took a screenshot where the error occurs. Where is it suggested to use the apocalypse without festering wound. https://imgur.com/a/4nncdZo

[2021-02-03 21:13] Cilraaz commented on #715
It looks like this was a larger overall issue. This should be fixed in commit https://github.com/herotc/hero-rotation/commit/d4f47065c8cc8461f0afbd0a77e4efa726f22e2b

[2021-02-07 17:01] Wigglefox opened #716 "Vengence DH Covenant"
My vengence DH covenant ability isnt showing up to be used. Its the Kyrian one.

[2021-02-07 17:04] Cilraaz commented on #716
Check your setting for Covenant Display Style under your class options. By default, this is set to "Suggested", which is to the upper left of the main icon. If you have another icon displaying in this position, it may be blocking Elysian Decree.

[2021-02-07 20:35] Wigglefox commented on #716
I tried it on all three positions its not coming up as part of the rotation. Sent from Mail for Windows 10 From: CilraazSent: Sunday, February 7, 2021 11:04 AMTo: herotc/hero-rotationCc: Wigglefox; AuthorSubject: Re: [herotc/hero-rotation] Vengence DH Covenant (#716) Check your setting for Covenant Display Style under your class options. By default, this is set to "Suggested", which is to the uppe

[2021-02-07 20:36] Cilraaz commented on #716
I main a Kyrian Vengeance DH and have had no problems with Elysian Decree displaying. Are you receiving a lua error? What talents are you using? What soulbind? What conduits? What legendary?

[2021-02-07 20:51] Wigglefox commented on #716
My dhs name is Mythicdh-Zul’jin
No Lua error. Probably my error. If you could give it a look and let me
know that be amazing. Still learning she tank love it so far.

On Sun, Feb 7, 2021 at 2:37 PM Cilraaz <notifications@github.com> wrote:

--
*Chris T. Sisney*

[2021-02-12 06:15] geraint425 opened #718 "[UH-DK] Fix epidemic with disabled AOE option"
Yesterday I was in a raid, and at the Sludgefest boss, I noticed a bug. It manifests itself in the fact that when I run away from the target at a long distance, he offers me to use the Death coil, but if the radius of the Death coil ends, then Epidemic is used. Yesterday I turned off the AOE rotation on purpose, and in the rotation it was still offered Epidemic at the farthest distance. And it sho

[2021-02-12 06:21] Cilraaz commented on #718
Added an AoEON check for the out-of-range Epidemic suggestion.

[2021-02-12 06:21] #718 closed, assigned to Cilraaz

[2021-02-13 11:17] dacx7 opened #719 "[Outlaw Rogue] Killing Spree opener with Mark of the Master Assassin"
Hello,

please add an option, like the "Vanish Echoing Reprimand", for Killing Spree with Mark of the Master Assassin legendary.

Killing Spree opener with Mark of the Master Assassin:
Vanish > dispatch > mfd > bte/dispatch > ks - with flurry active and MFD
Vanish > ambush > bf > ks - without flurry active
Vanish > ambush to max cp > dispatch > ks - with flurry active and no MFD
When opening from

[2021-02-13 15:05] Dragonfo opened #720 "[UH-DK] Bug using an epidemic on the boss Denathrius."
Hello. On the boss Denathrius and not only, I noticed that in the rotation it is proposed to use the epidemic without an outbreak on the targets. Here is a screenshot https://imgur.com/vYr4BZW of the sequence on the boss itself when many targets appear around it. The addon immediately suggests using an epidemic rather than an outbreak on the main target, and then an epidemic. I also noticed this a

[2021-02-13 17:40] Cilraaz commented on #720
This should be resolve in commit https://github.com/herotc/hero-rotation/commit/273f3b1fa0e682d530e6c3737a397ccfe292d811

[2021-02-13 17:40] #720 closed, assigned to Cilraaz

[2021-02-13 17:40] #716 closed, assigned to Cilraaz

[2021-02-13 17:41] Cilraaz commented on #714
This issue should now be resolved in version 9.0.2.29. Closing this issue. If it's still a problem, please comment and I'll reopen it.

[2021-02-13 17:41] #714 closed, assigned to Cilraaz

[2021-02-13 17:43] Cilraaz commented on #670
This should be resolved as of version 9.0.2.29. Closing this issue. If it's still a problem, please comment and I'll reopen it.

[2021-02-13 17:43] #670 closed, assigned to Cilraaz

[2021-02-13 17:45] Cilraaz commented on #652
Unholy was updated as of Feb 1, 2021. Closing this issue.

[2021-02-13 17:45] #652 closed, assigned to Cilraaz

[2021-02-13 17:46] EvanMichaels commented on #719
Won't be an option for this. This is only the cast for ER because the exploit is not supported by the APL. Current released version does not have the most recently updated Outlaw APL but will for the next release.

[2021-02-13 17:46] Cilraaz commented on #610
This is no longer an issue.

[2021-02-13 17:46] #610 closed, assigned to Cilraaz

[2021-02-13 22:34] Ankhy opened #721 "[Frost DK] Breath of sindragosa"
Using talents 3/1/-/1/-/1/3 it manages to make breath of sindragosa last for 1 - 3 tics. It just says pool after breat of sindragosa is up.

[2021-02-15 07:20] geraint425 commented on #721
I will support a higher person. It was also noticed that the addon, with a low value of runic power, prefers to press Howling Blast or
Remorseless Winter. Because there are 1-2 seconds left before Obliterate rollback. It seems to me that you need to raise Obliterate priority when using BoS. Because there were such moments that the same 1-2 seconds rolled back straight at a low value of runic power

[2021-02-15 07:32] Ankhy commented on #721
Everyone.CastTargetIf(S.Obliterate, EnemiesMelee, "max", EvaluateTargetIfRazoriceStacks, EvaluateTargetIfObliterateBoSTicking2) is absolute rubbish. I changed it to HR.Cast(S.Obliterate, nil, nil, not TargetIsInRange[8]) and now breath of sindragosa lasts for almost 10 sec on first attempt

[2021-02-15 18:55] Soulsmacka opened #722 "[Enhancement]: [Rogue] Add OffGCD Option for Slice and Dice"
Please move slice and dice to the smaller cooldown panels above the main rotation. There are numerous scenarios where we do not want to burn combo points for slice and dice. even disabling AoE does not remove slice and dice from the main rotation. please, fix this.  it literally will stay as the spell to press no matter what else we press and are forced to use it. To make matters worse is the fact

[2021-02-15 19:24] EvanMichaels commented on #722
Are you actually sure there are numerous scenarios where you don't want to use SnD? This seems more harmful than useful in a general sense. SnD is almost always worth casting even if the fight is ridiculously short. It is extremely strong.

[2021-02-15 20:54] Soulsmacka commented on #722
I know the importance of it, but it can be set to the side like Blade furry and we can use it on cd, but sometimes you get engaged in PvP and it's just more of a nuisance than anything plus it's not necessary to take priority over everything else when a target has less than 20% health and 1 evis can drop them.

[2021-02-16 14:40] geraint425 commented on #721
You can please upload an already changed file, or indicate where you can change it. Thank.

[2021-02-16 19:28] RussellAnas opened #723 "[Balance Druid] Celestial Alignment Missing with Trinket"
Celestial alignment does not show up on the rotation when empyreal ordinance is equipped.

[2021-02-16 19:45] Cilraaz commented on #723
Celestial Alignment/Incarnation relies on a variable. That variable contains the condition that Empyreal Ordinance is not equipped _or_ it's on cooldown with less than 160 second remaining. If the trinket is ready to use, that would cause this variable to be false, causing CA/Inc to not be suggested.

[2021-02-16 20:38] RussellAnas commented on #723
That's the thing. Even when the trinket is on cooldown, it doesn't suggest CA/Inc. No matter when I cast the trinket, it's like the spell has gotten disabled.

[2021-02-16 20:39] RussellAnas opened #724 "[Arms Warrior] Ravager does not obey GCD setting"
Ravager shows as a main spell even when 'show gcd as off gcd' has been checked.

[2021-02-17 05:48] Lespindagger opened #725 "[Balance Druid] Keybinds"
Keybinds still do not display correctly. I reinstalled entire HeroRotation, HeroLib and HeroDBC and it still displays incorrect keybinds

[2021-02-17 05:49] Cilraaz commented on #725
What hotbar addon (if any) are you using?

[2021-02-17 05:54] Lespindagger commented on #725
No hotbar addon. Originally had Bindpad and or Bartender4  but removed it to check if that was the cause of the issue.

[2021-02-17 05:58] Cilraaz commented on #725
Please try version 9.0.2.30 and let me know if it's still a problem.

[2021-02-17 05:58] Lespindagger commented on #725
Regardless of where you place spells on any keybind, the keybinds are set to a specific set of keys for a specific set of spells

[2021-02-17 06:12] Lespindagger commented on #725
I switched spells per keybind and or keybinds to related spells per keybind, but the problem persists. Spells are set to specific set of keys for a specific set of spells.

[2021-02-18 03:01] HeroBloatation opened #726 "Just use maxdps addons"
Instead of waiting forever to get your rotation ‘updated’. Whats the point if every new change takes a whole tier or two to update rotation when maxdps does it practically instantly. Here comes the ‘elitist jerks’ haters saying maxdps is not this not that. Well better than NOTHING! if you are soooo elitist you wouldn’t need a rotation addon! 🥱🙄

[2021-02-18 03:06] #726 closed, assigned to nobody

[2021-02-18 04:58] Lespindagger commented on #725
Tried version 9.0.2.30 and it didn't work. Reinstalled the entire HeroRotation, HeroLib and HeroDBC and it is still not displaying the correct keybinds.

[2021-02-18 06:33] Cilraaz commented on #725
I'll need actual information.

- You stated that you were using Blizzard's default hotbars. Is that still the case?
- Is it showing no keybind or an incorrect keybind while in caster form or moonkin form?
- What hotkey _should_ it show?
- What hotkey _does_ it show?
- Have you done anything to modify hotbar paging?
- Is the spell in question on any other hotbar?

[2021-02-18 15:44] Lespindagger commented on #725
Its the Blizzards default bar that I am using. Keybinds display incorrectly in Moonkin form. Regardless of hotkey, the hotkeys are preset to a default number per spell, so when one shifts any spell around the Keybinds display wrong spell. Hotbar is at its default state. All spells used for Moonkin do no set correctly unless setup in a specific order preset by HeroRotation. If you try to shift them

[2021-02-18 23:47] Caynn opened #727 "[FROST MAGE] Error on login"
8x HeroRotation_Mage\Frost.lua:240: ')' expected near 'then'
[string "=[C]"]: ?
[string "=[C]"]: ?
[string "=[C]"]: in function `LoadAddOn'
[string "@HeroRotation\Main.lua"]:381: in function `PulseInit'
[string "@HeroRotation\Main.lua"]:293: in function <HeroRotation\Main.lua:290>

Locals:
(*temporary) = "HeroRotation_Mage"

[2021-02-18 23:53] Cilraaz commented on #727
This was previously fixed in commit 728a2f19dfb45a430aca830436654b7fc4ee7e5a

You can grab the update from the github files or it will be included in the next release.

[2021-02-18 23:53] #727 closed, assigned to Cilraaz

[2021-02-19 00:11] Cilraaz commented on #725
What version of HeroLib are you using?

[2021-02-19 00:27] Lespindagger commented on #725
I am using HeroLib-9.0.2.10. As previously mentioned, I reinstalled twice all elements including HeroLib

[2021-02-19 05:56] Cilraaz commented on #725
Please try HeroRotation version 9.0.2.31 and HeroLib version 9.0.2.11. I've made a few changes that _should_ fix this issue.

[2021-02-19 05:58] Cilraaz commented on #724
This has been fixed as of commit https://github.com/herotc/hero-rotation/commit/58557386693d64710285ee32d110e1ce6f20fc14

[2021-02-19 05:58] #724 closed, assigned to Cilraaz

[2021-02-19 19:15] Lespindagger commented on #725
Reinstalled the entire HeroRotation, HeroLib and also HeroDBC with the new ones you have suggested but it does the same thing. Now the Celestial Aligment icon has been replaced by the Trinket icon instead and the trinket is not suggested anymore when it is off CD.

[2021-02-19 19:18] Lespindagger commented on #725
CA/Inc is suggested but not with the proper Icon. Instead, the CA/Inc. has the trinket (whatever trinket is on the keybinds) icon. The trinket/Inc is no longer suggested or displayed with any icon or even displayed entirely.

[2021-02-19 19:19] Cilraaz commented on #725
I am unable to replicate this.

[2021-02-19 19:35] Lespindagger commented on #725
I moved the trinket display to the "SuggestedRight" and now the trinket displays properly and when off CD, but the CA/Inc is not displaying off CD. The original issue on Keybinds, Spell Icons and or Spell location on hotbar still persists. I am going to move the CA/inc and Trinket issue to the new issue created for it. I will continue with the Druid/Hotbar(spell keybind) issue on this one

[2021-02-19 19:36] Lespindagger commented on #723
I moved the trinket display to the "SuggestedRight" and now the trinket displays properly and when off CD, but the CA/Inc is not display suggested when off CD

[2021-02-19 20:31] Lespindagger commented on #725
Ok.. now we are getting somewhere. I replaced this:

  -- We return the first match as this moment
  local ActionSlot = ActionSlots[1]
 with this:

  -- If stealthed Rogue or form-shifted Druid, return last slot. Otherwise, return the first.
  local ActionSlot
  if (GetBonusBarOffset() > 0 and (Cache.Persistent.Player.Class[1] == "Rogue" or Cache.Persistent.Player.Class[1] == "Druid")) then
    Ac

[2021-02-19 20:42] Lespindagger commented on #723
Seems the CA/Inc and the Trinket keybind are on the same CD and also on the same location on HeroRotation. When one or the other is used, HeroRotation sees it as on or off CD for both.

[2021-02-19 20:46] Lespindagger commented on #723
Regardless of suggested or suggested right location both CA/Inc or Trinket are both either off or on CD instead of either or.

[2021-02-19 21:15] Lespindagger commented on #723
Found the issue with CA/inc, Trinket and or Convoke. If one places trinket to SuggestedRight HeroRotation works properly. The issue is when using it on Training Dummies. I tested trinket placed on SuggestedRight slot on different mobs and it works. HeroRotation will not work properly between Trinket, CA/inc or Convoke when testing Dps on Training Dummies.

[2021-02-21 12:33] RussellAnas commented on #725
This issue is back :(. Keybinds are all over the place on my Balance Druid.

[2021-02-21 16:30] Lespindagger commented on #725
If you updated recently from curseforge, the update may have been corrupted. I did a manual fix.

[2021-02-21 18:10] Cilraaz commented on #725
HeroLib 9.0.2.12 will include the fix to suggest the last ActionSlot, rather than the first, when using paging on a Druid/Rogue.

[2021-02-23 05:43] geraint425 opened #728 "[FDK] BoS cannot last long in rotation"
Yesterday in a raid I decided to test Frost DK in the BoS build, and saw that the addon could not hold BoS. At the beginning of the battle, we are gaining 50 runic power, and the addon suggests using BoS. And I noticed that in the middle of the battle, when the BoS build is offered to be pressed, he calmly holds it for 45sec +. Is it possible to somehow correct the beginning of the rotation so tha

[2021-02-23 19:07] alexmr06 opened #729 "Dragon roar warrior fury solo rotation"
Hi :) is it possible to put in the mono rotation the dragon roar ? What if some people don't prefer to have it, put it in the addon's menu, and be able to activate/deactivate it at any time ? Thank you for the work you do like every time :). ( and if you do it, don't forget that it's used in the rage period and adds 10 more rage ).

[2021-02-24 13:52] geraint425 commented on #728
I just noticed. That the rotation does not correspond to the apple on which the rotation is going. Here is a screenshot of the raidbots of my rotation simcraft. https://imgur.com/a/oloesCh and it is directly radically different from the rotation that is now in the addon. Please correct. Since there is an assumption that the error is due to the fact that BoS does not work correctly in this particul

[2021-02-24 19:48] RussellAnas opened #730 "[Balance Druid] Inc: Chosen of Elune Suggested when not taken"
Incarnation: chosen of elune is suggested as a spell even when the talent is not taken. This only started happening after I made the Balance of All Things legendary.

[2021-02-24 19:54] Cilraaz commented on #730
This was previously fixed in commit 9f8e375fff560460e59216e7454d28d250637eaa

It will be included in the next release version.

[2021-02-24 19:54] #730 closed, assigned to Cilraaz

[2021-02-24 19:57] Cilraaz commented on #729
Dragon Roar is only suggested with more than one target, as per the SimC APL.

[2021-02-24 19:57] #729 closed, assigned to Cilraaz

[2021-03-08 07:18] ArcticLatent commented on #133
Is this an upcoming feature?

[2021-03-09 06:05] n3rdninja opened #734 "[Unholy DK] Latest release broke AoE rotation"
The rotation sticks on pooling: Outbreak > Unholy Blight > stuck on pooling.

[2021-03-09 18:13] Cilraaz commented on #734
I'm unable to replicate this. Please try the 9.0.5.01 version of the addon.

[2021-03-09 18:14] Cilraaz commented on #725
No reports of further issues in over 2 weeks. Closing this issue.

[2021-03-09 18:14] #725 closed, assigned to Cilraaz

[2021-03-09 21:54] n3rdninja commented on #734
Same issue with 9.0.5.01. The only abilities ever prompted are Outbreak, Unholy Blight, and Death Coil (forgot to mention that last time). Epidemic, Festering Strike, and Scourge Strike are never prompted.

I have tried re-installing the add-on (and dependencies). If I go back to the version before you made the Epidemic changes, it works fine. I am not sure why though, those changes LGTM.

[2021-03-09 22:00] Cilraaz commented on #734
Please provide the following:

- Your talent build
- Your Covenant
- Your Soulbind
- Your active conduits
- Your trinkets (if they are on-use trinkets)

[2021-03-09 22:38] n3rdninja commented on #734
talents=1333221
covenant=necrolord
soulbind=plague_deviser_marileth:4,323074/124:5/323091/108:1/323081

Neither trinket is on-use.

[2021-03-09 23:40] Cilraaz commented on #734
With the same talent build, I'm unable to replicate the issue. For me, the addon suggests Army and Outbreak pre-combat, then Unholy Blight -> Dark Transformation -> Festering Strike and so on.

What settings are you using for the Display Styles for Trinkets, Raise Dead, and Covenant? Also, which abilities do you have to set Off GCD? If you'd prefer screenshots, please provide one of the "DeathKnig

[2021-03-10 01:46] n3rdninja commented on #734
I wiped out all of my add-ons, reset interface settings, and it is working now. Thank you for looking into this.

[2021-03-10 01:46] #734 closed, assigned to Cilraaz

[2021-03-10 06:47] geraint425 opened #735 "[Survival hunter] Will the rotation be renewed?"
Hello, can I ask you if the rotation will be updated? I understand that people do not play this spec, but I still want to try to play in it))

[2021-03-10 09:33] RussellAnas opened #736 "[Arms Warrior] Sweeping Strikes not recommended with Ravager"
Sweeping strikes is never recommended with Ravager talent even when there are two targets or more.

Works fine with Bladestorm and obeys a good rotation prioritiy, but disappears with Ravager although enabling Sweeping Strikes while Ravager is running with >1 target is optimal.

[2021-03-10 19:56] tflo commented on #664
Could you please also add Condemn with ID 317349 ?

This is Condemn on my Arms _without_ Massacre. (With Massacre, and on Fury, it already shows up correctly.)

My Condemn IDs (9.0.5):

- Arms
  - With Massacre: 330334
  - Without Massacre: 317349
- Fury
  - With Massacre: 330325
  - Without Massacre: 317485
- Protection: 317349

[2021-03-11 21:24] Cilraaz commented on #736
Arms has been updated to the latest APL in the most recent release (9.0.5.02). Please try this version and let us know if you still have problems.

[2021-03-12 10:27] RussellAnas opened #740 "[Fury Warrior] Recklessness overlapping with Bloodthirst"
I see a spell recommended that has half the icon of bloodthirst, and half of Recklessness.

Also recklessness recommendations seem a bit off because of this as it doesn't get suggested when this happens. Can you look into this?

[2021-03-12 11:10] c-ray-c commented on #740
I believe this is due to the "Cast queues". I agree it's very counterintuitive, confusing and needless... What's the point in BT/Heroic Leap queue? What's the point in BT/Recklessness queue...
Only happens if Signet of Tormented Kings is equiped...

`
    -- sequence,if=active_enemies=1&covenant.venthyr.enabled&runeforge.signet_of_tormented_kings.equipped,name=BT&Reck:bloodthirst:recklessness

[2021-03-12 11:19] RussellAnas commented on #740
What even are cast queues? Does this mean it's saying we macro the spells together or what? The previous version was so smooth comparatively. It showed recklessness as a small icon on top of main when you were enraged.

[2021-03-12 11:20] RussellAnas commented on #736
Thanks Cilraaz, I'll get back on this, for now the castqueue stuff is messing up the rotation even more so it's difficult to understand if this got fixed.

[2021-03-12 11:21] RussellAnas commented on #723
Should this have gotten fixed in the latest release or still open?

[2021-03-12 13:16] c-ray-c commented on #740
Not exactly sure... My understanding is that when you see a cast queue double faced icon, you want to first activate the ability on the left and then right away - ability on the right. Something like a /castsequence macro.
It can be coded so you only see one ability at a time, just a bit more code logic needed...
@Cilraaz Am I understanding it right? Is it really needed? I dislike the idea of macr

[2021-03-12 13:40] Cilraaz commented on #740
CastQueue typically works like a cast sequence macro, but it's not necessarily suggesting that the user macro abilities together. I have no idea about the logic behind them. That would be a question for the Simulationcraft guys. Another place you'll often see CastQueue used is in the Subtlety rotation.

Is it really needed? Frankly, I don't know. Our goal has always been to adhere as closely to th

[2021-03-12 13:49] RussellAnas commented on #740
Think we need to wait for SimC APL to update then. For some reason I went back to the curseforge version and everything is working fine now (no castsequence stuff). But when I update from here, the rotation becomes really weird

[2021-03-12 13:53] Cilraaz commented on #740
The SimC APL _is_ updated. We are simply updating to match.

[2021-03-12 13:58] RussellAnas commented on #736
This is working fine now! Thanks Cilraaz!

[2021-03-12 13:58] #736 closed, assigned to Cilraaz

[2021-03-12 14:13] c-ray-c commented on #740
I think Russel mean that the SimC APL itself have to be fixed.
Meanwhile what do you think if we make this part optional? With default turned on?

[2021-03-12 14:18] Cilraaz commented on #740
I temporarily removed the BT&Charge sequence.

[2021-03-12 16:10] Lespindagger commented on #723
This is still pending. It came back after the last release. It doesn't display while on any mob, regardless if Training dummy or not

[2021-03-14 13:37] heilporsche opened #741 "[Enhancement Shaman] rotation issue"
If you are in a Party with other Enhancement Shaman windfury totem keeps showing up as suggested cast non stop, is it possible to to add windfurry totem as OFF GCD ? or fix the issue ?

[2021-03-16 20:34] #740 closed, assigned to Cilraaz

[2021-03-20 17:16] RussellAnas opened #742 "[Fury Warrior] BT + Recklessness Icons"
The Bloodthirst + Recklessness icon shared in half really confuses the rotation. Can you please disable this castsequence so that recklessness is always suggested as a cooldown that does not overlap with Bloodthirst?

[2021-03-20 22:09] Cilraaz commented on #742
I added an option to hide CastQueue suggestions in commit https://github.com/herotc/hero-rotation/commit/478a5241f516cb5a5e62b1e36847a9a85dd3b371

[2021-03-20 22:09] #742 closed, assigned to Cilraaz

[2021-03-24 19:05] DoomFiskarna opened #743 "Stutter/Lag on mouseover"
When I have the addon enabled and I mouseover an ally (e.g. to heal with macro) I get a brief but huge fps drop to the point where it seems to be frozen for up to about 0.2 sec. This happens both when mousing over or off of a friendly player or pet, so if I'm running my mouse across the screen I will be at less than 10 fps for most of that.

I found this issue most noticable on my druid in restora

[2021-03-24 19:16] Cilraaz commented on #743
I have to assume that you're using a horribly out of date version of the addon. The current version does not support Restoration Druid.

[2021-03-25 01:39] DoomFiskarna commented on #743
It's up-to-date, but still causes lag despite not supporting the current spec (like I mentioned in my first post "the addon...wasn't showing anything"). The problem isn't the lack of rotation, it's the lag caused by mouseover even though there is not a rotation to load.

[2021-03-25 02:01] Cilraaz commented on #743
I'm unable to replicate this issue. Are you receiving any lua errors? Have you tried completely removing the addon and reinstalling to ensure there are not orphaned files from an old version (unlikely, but _could_ happen)?

[2021-03-26 11:51] Tellasarin opened #745 "Arms Warrior Addon Dissappering"
On occasions when using the Arms warrior rotation the addon will disappear. Sometimes it comes back after killing a mob, other times the main rotation will remain not visible whilst things like Charge will remain visible as a suggested button.
Currently running addon at level 55. I've also noticed alongside this doing this I often get popups saying that I'm experiencing a lot of addon errors. This

[2021-03-26 12:13] Cilraaz commented on #745
I would need the error message to be able to fix the issue.

[2021-03-26 12:17] Tellasarin commented on #745
I'll see about replicating it and get some screenshots over to you asap.

[2021-03-26 12:19] Tellasarin commented on #745
The lua error that comes up is

Message: Interface\AddOns\HeroRotation_Warrior\Arms.lua:364: attempt to index field 'VictoryRush' (a nil value)
Time: Fri Mar 26 12:18:41 2021
Count: 21
Stack: Interface\AddOns\HeroRotation_Warrior\Arms.lua:364: attempt to index field 'VictoryRush' (a nil value)
[string "@Interface\AddOns\RCLootCouncil\Classes\Services\ErrorHandler.lua"]:149: in function <...dOns\RC

[2021-03-26 12:19] Tellasarin commented on #745
Which is odd because of rcloot council having nothing to do with it but yeah..

[2021-03-26 12:21] Tellasarin commented on #745
Message: Interface\AddOns\HeroRotation_Warrior\Arms.lua:364: attempt to index field 'VictoryRush' (a nil value)
Time: Fri Mar 26 12:20:54 2021
Count: 42
Stack: Interface\AddOns\HeroRotation_Warrior\Arms.lua:364: attempt to index field 'VictoryRush' (a nil value)
[string "=[C]"]: ?
[string "@Interface\AddOns\HeroRotation_Warrior\Arms.lua"]:364: in function `?'
[string "@Interface\AddOns\HeroRotatio

[2021-03-26 12:38] Cilraaz commented on #745
That should be fixed with commit https://github.com/herotc/hero-rotation/commit/2bc35b288d8973adcee23067fcdf3a58c8e02348

You can either update from the github or wait for the next release version.

[2021-03-26 12:38] #745 closed, assigned to Cilraaz

[2021-03-27 22:12] Cilraaz commented on #701
Arms has been re-written since this issue was raised. I just tested and it appears to no longer be a problem at this time. If you are still having an issue, please let us know.

[2021-03-27 22:12] #701 closed, assigned to Cilraaz

[2021-03-27 22:14] Cilraaz commented on #664
Condemn IDs were updated on March 11th and should no longer be an issue.

[2021-03-27 22:14] #664 closed, assigned to Cilraaz

[2021-03-27 22:16] Cilraaz commented on #645
Marksmanship has since been updated to match the latest APL.

[2021-03-27 22:16] #645 closed, assigned to Cilraaz

[2021-03-27 22:23] Cilraaz commented on #596
I added a check so Rapid Fire will not be suggested within the Trick Shots function if Aimed Shot is currently being casted. This should stop situations where Rapid Fire is suggested directly after Aimed Shot, where Aimed Shot eats the Trick Shots buff.

[2021-03-27 22:23] #596 closed, assigned to Cilraaz

[2021-03-27 22:24] Cilraaz commented on #597
We've been including the addon in zip format for many releases now. Closing this issue.

[2021-03-27 22:24] #597 closed, assigned to Cilraaz

[2021-03-28 19:41] tflo commented on #664
Thanks.

[2021-03-31 16:42] Zekke opened #746 "[Rogue Assassination] Kyrian - Echoing reprimand issue"
Addon suggests Echoing Reprimand well, but it doesn't handle the buff (doesn't suggest using a finisher at the good amount of combo points)

[2021-04-05 12:35] teo6667 opened #747 "Wrong keybindings on spells"
Hi.

In some cases the keybindings on a spell shows another spell's key. And when a battle starts sometimes just does not show any keybinding.

This happens with balance druid in moonkin form. In normal form does not happens. The spells are in the same bindings in all forms.

![not showing](https://user-images.githubusercontent.com/13005539/113574052-a1eed780-961b-11eb-8590-25aed04fd079.png)
![wro

[2021-04-06 13:54] MrSmurfy opened #748 "[UI] Keybinding detection problem"
Hello,

I came across some weird keybind detection playing on my rogue.

For example:
![image](https://user-images.githubusercontent.com/11522121/113721967-43dff400-96f0-11eb-857b-4ac6a1afb31c.png)

Slice n Dice is bound to Control + 3 for me but the addon sometimes leaves out the modifier key.
I am not sure why it is doing that, I don't use any actionbar addon.

During stealth it doesn't show a k

[2021-04-06 14:36] Cilraaz commented on #747
With version 9.0.5.06, I'm unable to replicate this issue. With both ElvUI and the default Blizzard bars, hotkeys are showing properly.

[2021-04-06 15:22] Cilraaz commented on #748
I made a small change to HeroLib that _may_ fix the issue. Please try commit https://github.com/herotc/hero-lib/commit/75b86a932c5670528fd7a1a39b97e05a5d86e172 and see if you still have the problem.

[2021-04-06 15:50] Cilraaz commented on #747
I found where this issue may be occurring. Please try the changes in commit https://github.com/herotc/hero-lib/commit/ebbd8a3d18c8a545f7d5f9a04daeb09e96202378 and see if it is still a problem.

[2021-04-06 15:56] Cilraaz commented on #748
I found a second issue that may also be affecting you. Please try commit https://github.com/herotc/hero-lib/commit/ebbd8a3d18c8a545f7d5f9a04daeb09e96202378 which adds some changes for people using Blizzard default bars number 3 through 6.

[2021-04-06 16:09] teo6667 commented on #747
Yes! Working fine with this one. :D

[2021-04-06 16:15] Cilraaz commented on #747
Great! Thanks for the update.

[2021-04-06 16:15] #747 closed, assigned to Cilraaz

[2021-04-06 16:22] MrSmurfy commented on #748
Hey Cilraaz, glad to see you still working on the project! :) I hope you're doing well and everything is alright with Aethys.

Keybinds seem to work correctly throughout the normal rotation now. In stealth however it's still broken;

- Opening from stealth it wants me to cast mutilate (assa rogue), the keybind for it is not being shown but I have mutilate in the same slot for my normal actionbar a

[2021-04-06 16:24] MrSmurfy commented on #748
The stealth one is being inconsistent it seems.. sometimes it works, sometimes it doesn't. I am trying to replicate it..

![image](https://user-images.githubusercontent.com/11522121/113744841-5ca6d480-9705-11eb-8c26-d14c4828190d.png)

Okay so when the keybind isn't being detected from stealth I just simply move the mutilate to another slot and put it in slot1 again. Then the detection works again.

[2021-04-06 17:30] esc-scripts opened #749 "Not Showing Keybinds Correctly"
Here is an example for Pyroblast. Some keys it shows, others not at all.

![image](https://user-images.githubusercontent.com/73078719/113753606-2cac0100-9706-11eb-9b07-6666ba279891.png)

[2021-04-06 17:38] Cilraaz commented on #749
Duplicate of #747. Please update to HeroLib version 9.0.5.04.

[2021-04-06 18:11] esc-scripts commented on #749
I have updated to 9.0.5.04. and switched to Frost as the spec is finished and now the keys show the wrong binds.

![image](https://user-images.githubusercontent.com/73078719/113758499-de016580-970b-11eb-96df-39df01a07d74.png)

[2021-04-06 18:22] Cilraaz commented on #749
What hotbar addon are you using?

[2021-04-06 18:25] esc-scripts commented on #749
Bartender4. I am using that on my pally too and hero is working flawlessly there.

[2021-04-06 18:51] esc-scripts commented on #749
Have fixed myself. Please close this.

[2021-04-06 18:52] #749 closed, assigned to Cilraaz

[2021-04-11 12:14] ReglohPri opened #750 "Fire Mage to many lua errors"
I have Fire Mage in main.lua deactivated

[2021-04-11 13:43] Cilraaz commented on #750
Please try HeroRotation version 9.0.5.07.

[2021-04-11 18:32] #746 closed, assigned to EvanMichaels

[2021-04-12 16:21] guardabassi commented on #684
Still bugged as of april 12 , written as pool when final verdict is available

[2021-04-12 16:22] guardabassi commented on #684
Still bugged as of april 12 , written as pool when final verdict is available

[2021-04-12 16:24] Atlentys commented on #684
Still bugged as of april 12 , written as pool when final verdict is available
And when empyrean power is selected as a talent it doesn't show up on the rotation

[2021-04-12 16:48] ReglohPri commented on #750
I don't see anything changes for fire mage.

Here are the errors:
27x HeroRotation_Mage\Fire.lua:479: attempt to call method 'ExecuteRemains' (a nil value)
[string "@HeroRotation_Mage\Fire.lua"]:479: in function <HeroRotation_Mage\Fire.lua:432>
[string "@HeroRotation_Mage\Fire.lua"]:890: in function `?'
[string "@HeroRotation\Main.lua"]:446: in function <HeroRotation\Main.lua:424>

[2021-04-12 16:49] Cilraaz commented on #750
Your HeroLib version is out of date. ExecuteRemains was a recently added function.

[2021-04-12 16:52] ReglohPri commented on #750
I have HerLib installed from Mar 9, 2021

[2021-04-12 16:52] Cilraaz commented on #750
That is an old version. There have been 3 new release versions since then.

[2021-04-12 16:56] ReglohPri commented on #750
No, on curceforge is this the latest

[2021-04-12 16:56] ReglohPri commented on #750
Version: 9.0.5.01

[2021-04-12 16:57] Cilraaz commented on #750
https://github.com/herotc/hero-lib/releases/download/9.0.5.04/HeroLib-9.0.5.04.zip

[2021-04-12 16:57] #750 closed, assigned to Cilraaz

[2021-04-12 16:59] ReglohPri commented on #750
Then you forgot to update on Curseforge

Thanks for the new link.

Sincerely
Holger -> ReglohPri

[2021-04-12 17:00] Cilraaz commented on #750
CurseForge pulls their packages automatically from the github. We'll have to figure out exactly how they managed to break their system yet again.

[2021-04-12 17:04] ReglohPri commented on #750
I will test the new HeroLib version and then I will let you know. Then we can close the issue.

[2021-04-12 17:16] ReglohPri commented on #750
It's working perfect now. Many thank's.

[2021-04-16 10:54] MrSmurfy opened #751 "Frost mage - Covenant ability"
The frost mage rotation when casting the venthyr covenant ability keeps showing even though it should be showing the next recommendation already. I guess a small QoL tweak could be nice.

[2021-04-16 11:15] MrSmurfy commented on #751
Created a pull request for it; https://github.com/herotc/hero-rotation/pull/752

[2021-04-17 15:30] GarrettCottrell opened #753 "Shadow Priest - Prism Legendary Rotation Supported?"
Not seeing support for the prism legendary.  Is this an error with how I'm using the addon, or does shadowpriest rotation not currently support this legendary?

[2021-04-17 16:01] Cilraaz commented on #753
Shadowflame Prism is supported. It has minimal impact on the APL, though.

[2021-04-17 16:09] GarrettCottrell commented on #753
During voidform, I am never recommended a shadowword death, while mindbender is active, and prism is equipped. Is this correct, or am I possibly not getting the correct information from the addon?

I do receive a recommendation to use shadowword death, prior to using eruption -- just once in voidform, there are no death recommendations.

I am using the version of the addon available via curseforge

[2021-04-17 16:34] Cilraaz commented on #753
Shadowflame Prism is included in five lines in the APL. One out of the five refers to Shadow Word: Death. That condition is "shadow_word_death,target_if=(target.health.pct<20&spell_targets.mind_sear<4)|(pet.fiend.active&runeforge.shadowflame_prism.equipped)", which means at this point it'll suggest SW:D if the target is under 20% health while fighting less than 4 enemies or if your Mindbender is a

[2021-04-18 05:44] #753 closed, assigned to Cilraaz

[2021-04-21 18:28] RussellAnas opened #754 "[Fury Warrior] Whirlwind keeps getting suggested"
Sometimes during rotation whirlwind keeps getting suggested even when only 1 melee spell has been cast using the cleave buff. Ideally it should be suggested only once both instances of the buff have been used.

[2021-04-23 18:45] GarrettCottrell opened #755 "Show Shadow Crash as Off GCD"
is this an option currently available and if not, is it an option that is in the pipeline at all?

[2021-04-23 21:49] Cilraaz commented on #755
Added in commit https://github.com/herotc/hero-rotation/commit/747a9b9accd6fb6e94d9279a62a8f674a1e6b8e4

[2021-04-23 21:49] #755 closed, assigned to Cilraaz

[2021-04-28 04:31] Cilraaz commented on #751
I missed this issue, but the PR was closed, as the change was added in commit https://github.com/herotc/hero-rotation/commit/310ddfbeb644cf6a2b59a19192b0eca7275e3ae8

Thanks for the input!

[2021-04-28 04:31] #751 closed, assigned to Cilraaz

[2021-04-28 04:57] Cilraaz commented on #741
Unfortunately, Blizzard kind of ties our hands on totems. We have no way to track the time remaining on totem buffs, so we can only check either the time remaining on the totem or time since the totem was last cast. Neither of these work with other players' totems. As such, Windfury always gets suggested if it was last cast more than 90 seconds ago. I've added the requested OffGCD option for Windf

[2021-04-28 04:57] #741 closed, assigned to Cilraaz

[2021-04-28 12:56] Cilraaz commented on #743
No further responses to questions asked. Closing this issue.

[2021-04-28 12:56] #743 closed, assigned to Cilraaz

[2021-04-29 15:39] RussellAnas commented on #754
Any update on this? It's still happening. Whirlwind gets suggested even when stacks of whirlwind (cleave) buff are remaining. This happens even on 2 enemies so doesn't seem like it does that because of possible higher dps.

[2021-04-29 15:42] Cilraaz commented on #754
Whirlwind is a fallback when there's nothing else to cast. Please enable Debug Output and let me know what is text is displayed when you believe Whirlwind should not be suggested.

[2021-05-02 13:42] RussellAnas commented on #754
In this image, if you see that after every whirlwind, there were 2 single target spells suggested. At the last one, I did whirlwind, and then it suggested one ST spell, then back to whirlwind. Even though I had full rage for Rampage. And it's impossible to think of a scenario where whirldwind will actually take more important when Rampage is up on a cleave buff
![image](https://user-images.githubu

[2021-05-02 13:44] RussellAnas commented on #754
I also tested one more thing. This seems to occur a lot more when I've changed specs from Arms to Fury?

[2021-05-03 16:30] TatsumaZangarmarsh opened #756 "[Assassination Rogue] Poisoned Knife suggested while in melee range"
The addon keeps suggesting Poisoned Knife, our throw ability, in my rotation when I am still in melee range. I have tried turning off all other addons except for HeroRotation, but the issue does not go away. Would there be a way to either fix this, or add a check box to remove that ability from the rotation?

Thanks!

[2021-05-03 16:33] TatsumaZangarmarsh commented on #756
Debug mode below. I believe it replaces multiple abilities. I have seen it pop up when I have zero combo points and should be mutilating, and also when I have full combo points and should be applying rupture or using envenom.

![image](https://user-images.githubusercontent.com/83601802/116904491-9d094d80-abf2-11eb-90b8-3d10060b2f0d.png)

[2021-05-05 01:10] Cilraaz commented on #756
It appears this was only an issue when AoE was disabled. This is fixed in commit https://github.com/herotc/hero-rotation/commit/e4e4ac8539a9563ad6f5581f615db63200a9900a

[2021-05-05 01:10] #756 closed, assigned to Cilraaz

[2021-05-05 02:26] TatsumaZangarmarsh commented on #756
Thank you!!

On Tue, May 4, 2021 at 6:10 PM Cilraaz ***@***.***> wrote:

[2021-05-09 14:51] BelakJG opened #758 "[Feral Druid] Feral Frenzy Lua Error"
When taking Feral frenzy it will cause a lot of Lua errors and not suggest any spells.
Here's the errors given:
12x HeroRotation_Druid\Feral.lua:260: attempt to compare nil with number
[string "@HeroRotation_Druid\Feral.lua"]:260: in function `Condition'
[string "@HeroRotation\Commons.lua"]:78: in function `CastTargetIf'
[string "@HeroRotation_Druid\Feral.lua"]:402: in function <HeroRotation_Druid

[2021-05-09 17:06] Cilraaz commented on #758
There was a typo in a variable name. That should be fixed as of commit https://github.com/herotc/hero-rotation/commit/e0503d96b58beb78ecf221a90b1bada1d0506b2a

[2021-05-09 17:06] #758 closed, assigned to Cilraaz

[2021-05-11 06:25] ayanokoji-wdh opened #759 "dh hero rotation"
Message: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
Time: Tue May 11 14:17:43 2021
Count: 759
Stack: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
[string "=[C]"]: in function `TrinketHasStatAnyDps'
[string "@Interface\AddOns\HeroRotation_DemonHunter\Havo

[2021-05-11 12:17] Cilraaz commented on #759
Please update your version of HeroLib. I assume you're updating from CurseForge, which is 2 months out of date at this point. Please use version 9.0.5.05, found [here](https://github.com/herotc/hero-lib/releases/download/9.0.5.05/HeroLib-9.0.5.05.zip).

[2021-05-11 12:17] #759 closed, assigned to Cilraaz

[2021-05-16 02:00] Darkmoded opened #760 "[Feral] - EvaluateCycleThrashMain18 does not exist"
Testing the new Feral script. EvaluateCycleThrashMain18 function does not exist line:638

[2021-05-16 02:05] Cilraaz commented on #760
This should be fixed by commit https://github.com/herotc/hero-rotation/commit/6bf5be85d5983764896d39a061bf1638c7ac35a0

[2021-05-18 17:38] Darkmoded opened #761 "Unholy Death Knigh - erros in aoe rotation"
684x HeroRotation\Commons.lua:84: bad argument #1 to 'pairs' (table expected, got nil)
[string "=[C]"]: ?
[string "@HeroRotation\Commons.lua"]:84: in function `CastTargetIf'
[string "@HeroRotation_DeathKnight\Unholy.lua"]:246: in function <HeroRotation_DeathKnight\Unholy.lua:214>
[string "@HeroRotation_DeathKnight\Unholy.lua"]:674: in function `?'
[string "@HeroRotation\Main.lua"]:446: in function

[2021-05-18 17:39] #761 closed, assigned to nobody

[2021-05-18 17:40] Darkmoded commented on #761
my bad got latetest

[2021-05-28 14:59] MrSmurfy opened #762 "Afflicion warlock - blood fury racial not recommended"
Using the affliction warlock rotation the blood fury racial is not being recommended.
Any thoughts?

[2021-05-28 15:01] Cilraaz commented on #762
Blood Fury is suggested during both the Darkglare Prep phase and any time trinkets are suggested.

[2021-05-28 21:24] MrSmurfy commented on #762
Hi Cilraaz, I know it should be suggesting it but it isn't suggesting blood fury at all for me.
I use these settings so I'd expect it to show up as a main icon;
https://i.imgur.com/nVmnpXj.png

Let me know if I should provide anything else.

[2021-05-28 22:34] RavenDT opened #763 "[Hunter] Survival error despite being in different spec"
Receiving the following Lua error, despite the fact that my character is Beast Master spec:
[code]

This occurs upon initial UI load, but doesn't seem to reappear and Beast Mastery rotation appears to work just fine.

[2021-05-29 00:29] Cilraaz commented on #763
This was already fixed in previous commit https://github.com/herotc/hero-rotation/commit/08ee779b1f75fb785eda1f502062a8c3c120b37b

Either grab the new file from github, make the change to the file manually, or it will be updated in the next release (which I'll probably push tonight).

[2021-05-29 00:29] #763 closed, assigned to Cilraaz

[2021-05-29 01:20] Cilraaz commented on #762
This should be fixed as of commit https://github.com/herotc/hero-rotation/commit/f680acd9542ace6dd4f1d0cb93d13a006d5550b5

It looks like Blood Fury was using an incorrect spell ID.

[2021-05-29 01:20] #762 closed, assigned to Cilraaz

[2021-06-02 19:00] GarrettCottrell opened #764 "Affliciton Warlock - Permanently Suggesting Drain Life"
After applying dots, the addon seems to just permanently suggest drain soul

[2021-06-02 19:07] GarrettCottrell commented on #764
Ah, I'm leveling and don't have shadow embrace, so most likely it's trying to cast drain soul to stack shadow embrace but since I don't have the passive, it's just permanently looping to try and get the stacks buty can't.

Does this sound like it could be the issue?

[2021-06-02 19:08] Cilraaz commented on #764
That's absolutely the issue. The addon tries to build SE stacks. Since you can't, it doesn't know what to do.

[2021-06-02 19:08] #764 closed, assigned to Cilraaz

[2021-06-04 15:37] fistenyolo opened #765 "[RET] PVP + Final Verdict"
Hello,

First and foremost I would like to thank the devs that run this add on it's wonderful!!

I'd like to point out that Final Verdict is not working and only shows POOL. It needs to be a top priority when 3 holy power or more is achieved.
I've attached a Screenshot of Final Verdict not popping up at all once the Legendary is Equipt, I can confirm that Templars Verdict does pop up, but again no

[2021-06-06 14:15] Darkmoded opened #766 "[Feral] - Should Tiger's Fury be on CDs"
Tiger's Fury has a 30 sec cool down and a instant Reset when talented  Predator

Not a bug but I don't think Tiger's Fury's should be off the CDs

[2021-06-06 16:29] Cilraaz commented on #766
Tiger's Fury is part of the cooldown function/APL list. The entire function is only checked if CDs are enabled. Rather than complicating the code to exclude Tiger's Fury, it was decided to treat it as a CD ability.

[2021-06-12 18:38] RavenDT opened #767 "Mage - Arcane - attempt to index field 'Fire' (a nil value)"
Message: Interface\AddOns\HeroRotation_Mage\Arcane.lua:1173: attempt to index field 'Fire' (a nil value)
Time: Sat Jun 12 14:34:59 2021
Count: 71
Stack: Interface\AddOns\HeroRotation_Mage\Arcane.lua:1173: attempt to index field 'Fire' (a nil value)

[2021-06-12 18:40] Cilraaz commented on #767
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/335f53bf0cbdde642361bb18072684a279cbdce9

[2021-06-12 18:40] #767 closed, assigned to Cilraaz

[2021-06-18 21:09] Denixerianer opened #768 "Demon Hunter - Havoc: LUA Errors on Target"
When i target something while out of combat as havoc i get error messages which stack really fast like 100 in 10 seconds. The errors are gone once im in combat:

Message: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
Time: Fri Jun 18 23:07:42 2021
Count: 186
Stack: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attemp

[2021-06-18 21:11] Cilraaz commented on #768
What version of HeroLib are you using? The TrinketHasStatAnyDps function was added in version 9.0.5.03.

[2021-06-18 21:14] Denixerianer commented on #768
i use the curseforge app and the newest version there seems to be "HeroLib-9.0.5.01". Where can i download the newer version? Thx for the fast reply :D

[2021-06-18 21:15] Cilraaz commented on #768
You can download it from the github releases. Here's the zip for the latest version: [9.0.5.05](https://github.com/herotc/hero-lib/releases/download/9.0.5.05/HeroLib-9.0.5.05.zip)

[2021-06-18 21:25] Denixerianer commented on #768
Thanks i downloaded everything from here now. One more question: Do i need to move files like "License" or ".gitignore" also into the addons folder or just the folders? Thanks

[2021-06-18 21:26] Cilraaz commented on #768
Just the folders.

[2021-06-18 21:32] Denixerianer commented on #768
what folders go in from dbc

[2021-06-18 21:33] Cilraaz commented on #768
HeroDBC is an oddity because of how it's structured. Everything inside the "addon" folder on the github will get placed in the HeroDBC folder in your Interface\Addons.

[2021-06-18 21:39] Denixerianer commented on #768
alrighty did that and now it works thx for the help, sorry for the wrong bug report feel free to delete it (idk how to) :)
Just as friendly feedback: Maybe add install description on how to do it i would have never figured that out on my own love your addon tho <3

[2021-06-18 21:40] Cilraaz commented on #768
No worries. Glad it's working now!

[2021-06-18 21:40] #768 closed, assigned to Cilraaz

[2021-06-21 14:16] MrCyphyr opened #769 "Demon Hunter - Havoc"
Getting repeated LUA message warnings.  Bug Sack has:

1559x HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
[string "@HeroRotation_DemonHunter\Havoc.lua"]:148: in function <HeroRotation_DemonHunter\Havoc.lua:141>
[string "@HeroRotation_DemonHunter\Havoc.lua"]:390: in function `?'
[string "@HeroRotation\Main.lua"]:447: in function <HeroRotation\M

[2021-06-21 14:17] Cilraaz commented on #769
Update your version of HeroLib. CurseForge is out of date. 9.0.5.05 can be found [here](https://github.com/herotc/hero-lib/releases/download/9.0.5.05/HeroLib-9.0.5.05.zip)

[2021-06-21 14:17] #769 closed, assigned to Cilraaz

[2021-06-21 16:35] MrCyphyr commented on #769
Thanks!!!

Chuck

Charles J. Armstrong

Londonderry, NH 03053

603-965-4501 (Home)

614-270-6336 (Mobile/Cell)

(Sent from home MS Outlook)

________________________________
From: Cilraaz ***@***.***>
Sent: Monday, June 21, 2021 10:17 AM
To: herotc/hero-rotation ***@***.***>
Cc: MrCyphyr ***@***.***>; Author ***@***.***>
Subject: Re: [herotc/hero-rotation] Demon Hunter - Havoc (#769)

Update your

[2021-06-23 03:43] RavenDT opened #770 "[Arcane] Attempt to call method 'GCDMax' (a nil value)"
[code]

Using commit c39f22a4bc7378db2b4f406ccdda887ba426048f

[2021-06-23 03:51] Cilraaz commented on #770
This is fixed in commit https://github.com/herotc/hero-rotation/commit/69592702a0729cb76047529411cee42b82378327

[2021-06-23 03:51] #770 closed, assigned to Cilraaz

[2021-06-25 04:26] Verimir opened #771 "Havoc Demon Hunter Not Working"
I get a lua error every time I right click a target. every other class works fine but the DH just won't cooperate

[2021-06-25 04:27] Verimir commented on #771
I also use elv.ui but idk what that would have to do with it

[2021-06-25 04:28] Cilraaz commented on #771
Update HeroLib to the latest version. 9.0.5.05 is available [here](https://github.com/herotc/hero-lib/releases/download/9.0.5.05/HeroLib-9.0.5.05.zip)

[2021-06-25 04:44] #771 closed, assigned to Cilraaz

[2021-06-28 02:42] azzi1103 opened #772 "[FROST DK] AOE issues"
Rotation keeps getting stuck on pooling during AOE situations, and wants me to constantly swap target for it to trigger next ability on main icon. Would love to get a fix on this, since it ruins most of the Aoe rotation. using talents: 1-2-1-1-1-1-2

[2021-06-28 02:44] Cilraaz commented on #772
Frost DK's rotation wants you to change targets based on Razor Ice stacks, as per the Simc APL. This is intended.

[2021-06-28 02:46] azzi1103 commented on #772
Well in highscale AOE, it's impossible. The Addon wants to target on specific mob to continue to next icon. That's really hard in M+ when there are big pulls.

[2021-06-28 02:47] azzi1103 commented on #772
The main icon should continue as normal and we have a 2nd suggestion icon already suggesting what we should do to maximize our AOE dmg. It's pointless to have main icon frozen mate.

[2021-06-28 02:48] Cilraaz commented on #772
That's not how the addon works. The logic of the main icon is tied to the other icons. When a CastTargetIf is used (as is the case for a lot of the abilities in Frost DK), the main icon and left icon are tied together. If the current target is the selected target, the icon shows in the main icon slot. If another target is suggested, it shows in the left icon slot.

[2021-06-28 02:50] azzi1103 commented on #772
The rogue rotation literally puts main rotation in big icon, whilst we have "rupture" and AOE solutions on the left. And of course we have the icons on top of their nameplates too. And again if a rotation is gonna be stuck untill you target that 1 mob in 20 other mobs. It's not really gonna help much is it?

[2021-06-28 02:50] #772 closed, assigned to Cilraaz

[2021-06-28 14:21] #735 closed, assigned to nobody

[2021-06-28 14:23] #698 closed, assigned to nobody

[2021-06-28 14:27] Kutikuti commented on #205
Done in https://github.com/herotc/hero-rotation/commit/7d70e06034ea63d7b6eb63d93f004761b9c88776

[2021-06-28 14:27] #205 closed

[2021-06-28 14:28] #31 closed

[2021-06-28 14:28] #87 closed

[2021-06-28 14:31] #128 closed

[2021-06-28 14:34] #177 closed

[2021-06-28 14:46] Kutikuti commented on #189
Better late than never : https://github.com/herotc/hero-rotation/commit/9847abf6c707bf6e3ca623bc8cd14dcbe08478f5

[2021-06-28 14:46] #189 closed

[2021-06-28 14:54] Kutikuti commented on #706
Same answer as https://github.com/herotc/hero-rotation/issues/37

[2021-06-28 14:54] #706 closed, assigned to nobody

[2021-07-06 01:07] MaddyLif3 opened #773 "rotation issue with keybinding display - rogue"
So my display shows incorrect keybindings on all specs,  such as my Backstab showing as (F or (C when it is just G, or my Shuriken Tornado showing as S/f when it is Shift+V, or Shuriken Storm showing as S/F.  It was working fine yesterday, so not sure what would have changed. I added the imgur link to the image of an example.

https://imgur.com/a/7ZX3eAt

[2021-07-07 16:18] #773 closed, assigned to nobody

[2021-07-07 16:18] MaddyLif3 commented on #773
no longer an issue

[2021-07-12 04:49] RavenDT opened #774 "[Arcane] Line 1067: attempt to index field 'RuneOfPower' (a nil value)"
[code]
Using commit ac05c9a

[2021-07-12 04:59] Cilraaz commented on #774
This is fixed in commit https://github.com/herotc/hero-rotation/commit/4085a0a491861ac9920b2375c3d49b9175131161

[2021-07-12 04:59] #774 closed, assigned to Cilraaz

[2021-07-18 00:20] imarkvisser opened #775 "Shadow Priest - lua error"
Hello,

I'm not sure if Shadow Priest is supported but I get the following lua error;
![image](https://user-images.githubusercontent.com/85161590/126052074-a22b6c9d-b812-4ab8-8def-e937dd8eb488.png)

Any thoughts on what causes this?

[2021-07-18 00:22] Cilraaz commented on #775
That's a typo. It's been fixed in commit https://github.com/herotc/hero-rotation/commit/886e2ca3e9fce3900cbc0b2eeeb3954fb0632127

[2021-07-18 00:22] #775 closed, assigned to Cilraaz

[2021-07-18 00:22] imarkvisser commented on #775
Thanks for the quick reply!

[2021-07-22 12:29] Hexus-Proud opened #776 "DemonHunter Havoc Lua-Error"
Message: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
Time: Thu Jul 22 14:02:29 2021
Count: 174
Stack: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
[string "=[C]"]: in function `TrinketHasStatAnyDps'
[string "@Interface\AddOns\HeroRotation_DemonHunter\Havo

[2021-07-22 12:30] Kutikuti commented on #776
see https://github.com/herotc/hero-rotation/issues/769

[2021-07-22 12:30] #776 closed, assigned to nobody

[2021-07-22 13:02] #760 closed, assigned to Cilraaz

[2021-07-25 20:12] Herdrage opened #777 "[Enhancement]: [Prot Paladin] Find a way to use Avenger's Shield for interrupts"
I was wondering if this could be added.

Say you're fighting two enemies and the off target is casting something interruptible. I think it would be cool if HR could determine with the GCD time you may currently be locked in as well as maybe a little lee-way time for switching targets if you could use your Avenger's Shield to interrupt as a priority over Rebuke (the default kick). It could use the

[2021-08-06 21:39] imarkvisser opened #780 "Balance druid - Ravenous Frenzy not recommended"
Hello,

For some reason Ravenous Frenzy is not being recommended for me even though I have CD's enabled.
Trying on a target dummy using either single target priority or multi target.

Any thoughts?

[2021-08-13 18:55] #780 closed, assigned to nobody

[2021-08-23 13:09] madmons opened #781 "Brewmaster"
Hey,

whatever options are selected, Celstial Infusion always appears in the main Icon. Is it a bug or is it possible to see it in one of the small icons ?

Thanks

[2021-08-23 13:12] Cilraaz commented on #781
This is fixed in commit https://github.com/herotc/hero-rotation/commit/945702f50a94ad55357e352d250c756e192f762f

[2021-08-23 13:12] #781 closed, assigned to Cilraaz

[2021-08-23 13:15] madmons commented on #781
Great ! Thanks

[2021-08-27 16:20] GarrettCottrell opened #782 "Celestial Brew not showing off-gcd"
Despite selecting the option for celestial brew to show as off-gcd, it continues to show as the main icon.

[2021-08-27 16:33] Kutikuti commented on #782
Already fixed in https://github.com/herotc/hero-rotation/commit/945702f50a94ad55357e352d250c756e192f762f
Update the addon

[2021-08-27 16:33] #782 closed, assigned to nobody

[2021-08-27 17:02] GarrettCottrell opened #783 "Celestial Brew not obeying off-gcd (despite updating addon on curseforge 5 minutes ago)"
I posted this issue earlier and it was immediately closed and told to update addon. Addon has been updated via curseforge (5 mins ago) and the exact issue persists.

[2021-08-27 17:12] GarrettCottrell commented on #783
Is there another way of updating the addon that would include the fix to this solution? Maybe it just hasn't been pushed to curseforge yet? I just don't know another way of updating other than via curseforge.

I have release type as alpha on curseforge. I have a feeling this is just an issue of me not having the right update because this issue has been addressed. I just can't get the version I hav

[2021-08-27 17:38] Kutikuti commented on #783
The update was only available on github at the time.
I just made a new release, you should be able to update the addon in the next few minutes when cureseforge releases it

[2021-08-27 17:38] #783 closed, assigned to nobody

[2021-08-28 10:35] zitnik74 opened #784 "[Monk - Windwalker] Spinning Crane Kick"
Hello, never suggest me to use Spinning Crane Kick on 2/3+ targets only proc only Dance of Chi-Ji PROC

best regards

[2021-08-28 23:24] agr8lemon opened #785 "{Guardian Druid} - Option to disable "Use" on weapon"
I have the polearm, Jotungeirr, Destiny's Call, which has a clickable use much like a trinket. I'd like to ability to remove this from the main rotation, much like  a trinket. I've disabled all trinket options, but that does not affect this item.

[2021-08-29 15:50] chrisjk007 opened #786 "Trinkets (Havoc DH)"
The TrinketHasStatAnyDps() doesn't seem to be defined or when player has two non-usable trinkets like Phial of Putrefaction and Infinitely Divisible Ooze, it throws errors.
I commented out the lines in precombat  area in Havoc.lua to bypass this check for now.

When player has Bottle Flayedwing Toxin, it checks if trinket isReady() which causes it to recommend reapplying the buff every 30 secs ins

[2021-08-29 16:06] Cilraaz commented on #786
Update to the latest HeroLib version, found [here](https://github.com/herotc/hero-lib/releases/download/9.1.0.05/HeroLib-9.1.0.05.zip). CurseForge is woefully out of date due to an issue with their system that we've been trying to get fixed for months.

[2021-08-29 16:06] #786 closed, assigned to Cilraaz

[2021-08-29 22:13] Kutikuti commented on #785
Should be good with this commit : https://github.com/herotc/hero-rotation/commit/a2014a7f278d95b2eabbd30054f6f891d9039ec0

There is now a new option for Item display style. I don't have the weapon myself to test this. Could you confirm it works fine ?

[2021-08-30 00:56] agr8lemon commented on #785
I see the Display Style: Items option. I currently have it set to Suggested. I don't see the weapon use come up at all now (which is OK in my case), but may not be the desired effect for others. I'll do some more testing tonight. Thanks for the response on this.

[2021-08-30 08:02] Kutikuti commented on #785
If you selected "Suggested" it should show up on the upper left corner.
Can you try again after reloading the game (or if you closed the game it should show up now)? I just saw that the first time a new setting is introduced, you have to reload the game for it to be taken into consideration.

[2021-08-30 12:47] agr8lemon commented on #785
You are correct, it is working correctly now.

Thank you again!

[2021-08-30 12:51] #785 closed, assigned to nobody

[2021-08-30 15:30] geraint425 opened #787 "[FDK] Shows chain of ice if the target is low on health."
Hello. Is it possible to fix it somehow? The addon will only show chain of ice at all times until the target dies. In a boss fight, this can critically affect the damage. And the rotation breaks because of this bug or feature.

[2021-09-01 01:27] Wigglefox opened #788 "Havoc Issue"
Every time I target a hostile npc that is not in combat I get an LUI error:

          Message: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)
Time: Tue Aug 31 18:57:16 2021
Count: 332
Stack: Interface\AddOns\HeroRotation_DemonHunter\Havoc.lua:148: attempt to call method 'TrinketHasStatAnyDps' (a nil value)

Locals:

Addon is up

[2021-09-01 01:39] Cilraaz commented on #788
Update your version of HeroLib. The version on CurseForge is out of date. https://github.com/herotc/hero-lib/releases/download/9.1.0.05/HeroLib-9.1.0.05.zip

[2021-09-01 01:39] #788 closed, assigned to Cilraaz

[2021-09-03 09:51] mizone opened #789 "Please Update the Rotation for Balance"
Hi Sir,

Please update the 9.1 balance rotation file.

Thanks,

[2021-10-06 19:55] Zekke opened #792 "[Druid Balance] Covenant display bug"
Covenant spells seem to always appeared faded like if target was out of range.

Tested with both NF and Venthyr spells.

[2021-10-06 19:58] Cilraaz commented on #792
Balance is currently in the process of being completely re-written.

[2021-10-06 22:24] Cilraaz commented on #792
The re-write is now available! Please let us know if you have any issues.

[2021-10-06 22:24] #792 closed, assigned to Cilraaz

[2021-10-06 22:24] Cilraaz commented on #789
Balance has been updated for 9.1

[2021-10-06 22:24] #789 closed, assigned to Cilraaz

[2021-10-06 22:25] Cilraaz commented on #787
Frost DK has been re-written to be in line with the 9.1 APL. This should no longer be an issue.

[2021-10-06 22:25] #787 closed, assigned to Cilraaz

[2021-10-06 22:27] #766 closed, assigned to Cilraaz

[2021-10-06 22:27] Cilraaz commented on #728
Frost DK has been re-written to be in line with the 9.1 APL. This should be better now.

[2021-10-06 22:27] #728 closed, assigned to Cilraaz

[2021-10-06 22:31] Cilraaz commented on #723
Balance has been re-written to be in line with the 9.1 APL. This should be working as expected now.

[2021-10-06 22:31] #723 closed, assigned to Cilraaz

[2021-10-06 22:32] Cilraaz commented on #721
Frost DK has been updated to be in line with the 9.1 APL. This should be better now.

[2021-10-06 22:32] #721 closed, assigned to Cilraaz

[2021-10-07 07:53] Zekke opened #793 "[Druid Feral] Opener"
Addon suggests usage of Berserk and Tiger's Fury **during the opener** when CDs are off.

[2021-10-07 08:03] Zekke opened #794 "[Druid Balance] CD usage"
Addon keeps suggesting usage of Incarnation: Chosen of Elune, Celestial Alignment and trinkets while CDs are off.

[2021-10-07 13:47] Cilraaz commented on #793
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/09b6880a78ff49013007f10c0accb33d4e9e4d76

[2021-10-07 13:47] #793 closed, assigned to Cilraaz

[2021-10-07 14:11] Cilraaz commented on #794
This is fixed in commit https://github.com/herotc/hero-rotation/commit/3eb3188f59a4e04b4428306c59600c517e77aa5c

[2021-10-07 14:11] #794 closed, assigned to Cilraaz

[2021-10-07 17:09] mizone commented on #789
Great Job!. Thank you.

[2021-10-07 17:40] Zekke opened #795 "[Druid Balance] CD usage"
Addon keeps suggesting usage of covenant ability (only tested NF's Convoke the Spirits), racial (trolls' Berserking) and trinkets while CDs are off.

[2021-10-07 17:42] Cilraaz commented on #795
Covenant abilities are considered rotational and are not subject to the CD toggle.
Racials (Berserking is actually the only racial currently in the APL) already check against the CD toggles.
Trinkets have their own setting if you'd like to turn them off.

[2021-10-07 18:49] Zekke commented on #795
Is it possible to considere covenant abilities as CDs like it does in the feral rotation (or all other classes and spec I've tried) ?

[2021-10-07 19:13] Cilraaz commented on #795
Added the CD check for Ravenous Frenzy and Convoke in commit https://github.com/herotc/hero-rotation/commit/4cd2b0d0e7b279a23d9038da229a7ce9785a4acb

[2021-10-07 19:13] #795 closed, assigned to Cilraaz

[2021-10-09 15:37] BelakJG opened #796 "[Balance Druid] attempt to call method 'BaseDuration' (a nil value)"
I'm getting two Lua errors right after the Balance opener.

79x HeroRotation_Druid\Balance-Balance.lua:558: attempt to call method 'BaseDuration' (a nil value)
[string "@HeroRotation_Druid\Balance-Balance.lua"]:558: in function <HeroRotation_Druid\Balance.lua:509>
[string "@HeroRotation_Druid\Balance-Balance.lua"]:853: in function `?'
[string "@HeroRotation\Main.lua"]:443: in function <HeroRotatio

[2021-10-09 15:43] Cilraaz commented on #796
This is fixed in commit https://github.com/herotc/hero-rotation/commit/6906975855deb24444307d0ecafb12d8bb4c2d5d

[2021-10-09 15:43] #796 closed, assigned to Cilraaz

[2021-10-12 11:02] Zekke opened #797 "[Druid Balance] Sunfire glitch"
When AOE is on, sunfire is suggested on targets who are not in combat which (I think) make a weird bug appears : the addon suggests spamming sunfire on the main target until we disable AOE.

It happens often in M+ and sometimes in raid encounter (even if it's a pure single target fight with absolutely no adds, maybe caused by the presence of trash mobs outside of the room).

I think the possible f

[2021-10-12 14:18] Cilraaz commented on #797
I'm unable to replicate this issue. Sunfire might be suggested on the left icon for targets within 40y that aren't in combat, but it should not be continually suggested for the main target. Could you please enable debug output and let me know what Sunfire cast is being repeatedly suggested?

[2021-10-12 19:38] Zekke commented on #797
https://puu.sh/IhPc3/de4f9fb0a3.png

This screenshot is from the very first pack of MoTS +15 (fortified), and it happenned again multiple times during this dungeon.
As you can see, the addon stays blocked at "Sunfire aoe 7" despite the debuff is active on the target and on every close enemies in combat, it stops suggesting sunfire when I disable aoe but re-suggests it again if I enable it again.
T

[2021-10-12 20:22] Cilraaz commented on #797
Sunfire aoe 7 is a line that suggests Sunfire in coordination with the use of the Inscrutable Quantum Device while CA/Inc is active. Are you delaying use of the trinket? That's most likely what's stalling the profile.

Toggling AoE likely doesn't actually affect anything, but rather buys enough time for your CA/Inc buff to fall below 15 seconds remaining, which causes the variable checked to becom

[2021-10-12 21:28] Zekke commented on #797
Yes I delay it, i use IQD with CA/Inc and racial in a macro. CA wasn't active at this time.

Edit: I was probably under the CA proc of my legendary (Primordial Arcanic Pulsar), is it possible to check if CA is in cooldown in this case ?

[2021-10-12 21:53] Cilraaz commented on #797
Sunfire aoe 7 will be suggested if IQD is equipped and ready to be used and a variable is set to true. That variable requires:

- CA/Inc buff has >15 seconds remaining and any one of the following:

- Sinful Hysteria not equipped OR Ravenous Frenzy buff time remaining is under a certain amount
- The calculated remaining length of time of the fight is less than 25 seconds
- Empyreal Ordinance is eq

[2021-10-14 14:36] mizone opened #798 "[Marksmanship] Multi-shot recommended when ST"
Please check the rotation.

[2021-10-14 14:43] Cilraaz commented on #798
Can't replicate. The profile only suggests Multi-shot during Trickshots, which only occurs on 3+ targets.

[2021-10-14 14:43] #798 closed, assigned to Cilraaz

[2021-10-14 15:19] mizone commented on #798
after i delete the [Cache], it is working well.

[2021-11-08 17:17] Hexus-Proud opened #799 "Brewmaster HeroRotation_Monk Bug"
3393x HeroRotation_Monk\Brewmaster.lua:262: attempt to index field 'PustuleEruption' (a nil value)
[string "@HeroRotation_Monk\Brewmaster.lua"]:262: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
ShouldReturn = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = 528957.557000
(*temporary) = 1
(*temporary) = -0.052000

[2021-11-08 19:07] Hexus-Proud opened #800 "Brewmaster HeroRotation_Monk Bug"

[2021-11-08 19:08] Hexus-Proud commented on #800
27x HeroRotation_Monk\Events.lua:107: attempt to index field '?' (a nil value)
[string "@HeroRotation_Monk\Events.lua"]:107: in function <HeroRotation_Monk\Events.lua:104>
[string "@HeroRotation_Monk\Events.lua"]:180: in function `Handler'
[string "@HeroLib\Events\Main.lua"]:235: in function <HeroLib\Events\Main.lua:231>
[string "@HeroLib\Events\Main.lua"]:278: in function `Handler'
[string "@Hero

[2021-11-08 19:10] Cilraaz commented on #799
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/eb3cc871bc0e100f59fd447e451fa0800af82ab1

[2021-11-08 19:10] #799 closed, assigned to Cilraaz

[2021-11-08 19:17] Cilraaz commented on #800
I made a change to try to fix this issue. Please try again with the changes from commit https://github.com/herotc/hero-rotation/commit/23464002b6da007d1fd8ada7ea6d5c1d3ad426e1

[2021-11-09 02:11] Cilraaz commented on #797
No further reports of issues after nearly a month. The profile has also been updated since. If this is still a problem, please feel free to reply here or open a new issue.

[2021-11-09 02:11] #797 closed, assigned to Cilraaz

[2021-11-09 02:16] Cilraaz commented on #754
This should have been fixed in the commit on June 7th (https://github.com/herotc/hero-rotation/commit/796c62ff9c72bc6b17e88c908acadd57c7e0315e#diff-c8dc33585a3f0b842f25329738b635b6d7946931ce1ba90923f23dec2d9e4ec2). No reports of issues since. Closing this issue. If there is still a problem, please feel free to open a new issue.

[2021-11-09 02:16] #754 closed, assigned to Cilraaz

[2021-11-09 02:19] Cilraaz commented on #713
This was added in the April 8th updates. Closing this issue.

[2021-11-09 02:19] #713 closed, assigned to Cilraaz

[2021-11-09 02:20] Cilraaz commented on #695
Profile has been re-written multiple times since. Closing this issue.

[2021-11-09 02:20] #695 closed, assigned to Cilraaz

[2021-11-09 02:22] Cilraaz commented on #669
The profile has been re-written multiple time since this issue was logged. Currently, the APL suggests Bestial Wrath be casted pre-combat (1.5s before pull). Closing this issue.

[2021-11-09 02:22] #669 closed, assigned to Cilraaz

[2021-11-09 02:23] Cilraaz commented on #668
Marksmanship profile has been re-written multiple time since this issue was logged. Closing this issue.

[2021-11-09 02:23] #668 closed, assigned to Cilraaz

[2021-11-09 02:24] Cilraaz commented on #617
Profile was long since updated. Closing this issue.

[2021-11-09 02:24] #617 closed, assigned to Cilraaz

[2021-11-09 02:24] Cilraaz commented on #594
Marksmanship profile has long since been updated. Closing this issue.

[2021-11-09 02:24] #594 closed, assigned to Cilraaz

[2021-11-09 02:28] Cilraaz commented on #563
The keybind code has been re-written since this issue was last updated. Closing this issue. If this is still a problem, please feel free to open a new issue.

[2021-11-09 02:28] #563 closed

[2021-11-09 11:45] Hexus-Proud commented on #800
Thank you for the fast answer. I try it and now I get this bug message:

5874x HeroRotation_Monk\Brewmaster.lua:262: attempt to index field 'PustuleEruption' (a nil value)
[string "@HeroRotation_Monk\Brewmaster.lua"]:262: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
ShouldReturn = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = ni

[2021-11-09 12:15] Hexus-Proud commented on #800
I found it sorry. Everything seems to be working again. Thank you

[2021-11-09 12:15] #800 closed, assigned to Cilraaz

[2021-11-13 20:07] Debuggernaut opened #801 "How do you compile the APLs into Lua?"
Hey team, couldn't find it on your wiki/readme.  What's the process to convert a simc apl file into an addon-friendly rotation file?

[2021-11-18 14:12] Hexus-Proud opened #803 "HeroRotation_Monk Brewmaster 'VolatileSolvent' (a nil value)"
24x HeroRotation_Monk\Brewmaster.lua:340: attempt to index field 'VolatileSolvent' (a nil value)
[string "@HeroRotation_Monk\Brewmaster.lua"]:340: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
ShouldReturn = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = nil
(*temporary) = n

[2021-11-18 14:23] Cilraaz commented on #803
This is fixed in commit https://github.com/herotc/hero-rotation/commit/4fde4c3231c6127858a5a9f49bb1cd2fba39e007

[2021-11-18 14:23] #803 closed, assigned to Cilraaz

[2021-11-19 04:57] Hexus-Proud commented on #803
Thank you, the first part is working but the other one not:

1x HeroRotation_Monk\Events.lua:108: attempt to index field '?' (a nil value)
[string "@HeroRotation_Monk\Events.lua"]:108: in function <HeroRotation_Monk\Events.lua:106>
[string "@HeroRotation_Monk\Events.lua"]:174: in function `Handler'
[string "@HeroLib\Events\Main.lua"]:235: in function <HeroLib\Events\Main.lua:231>
[string "@HeroLib

[2021-11-20 06:35] Oep55 opened #804 "Lua error"
Please let me know if this is the wrong place to seek out help for this type of error. I only get this error in one spec (Brewmaster). Can you point me in the right direction to fix?
I done clean install have the proper dependencies. I have tried everything I can think of.

Message: Interface\AddOns\HeroRotation\Core.lua:48: attempt to index local 'Object' (a nil value)
Time: Fri Nov 19 22:25:58 2

[2021-11-20 06:41] Cilraaz commented on #804
This is now fixed in commit https://github.com/herotc/hero-rotation/commit/19ae3e95b0a46e7a8ad79ab4f52277e6ab9bbbbf

[2021-11-20 06:41] #804 closed, assigned to Cilraaz

[2021-11-20 18:09] Oep55 opened #805 "Monk - Brewmaster - Lua error"
If this is wrong place to post this error, please let me know.
Thanks for you help.

Message: Interface\AddOns\HeroRotation_Monk\Events.lua:108: attempt to index field '?' (a nil value)
Time: Sat Nov 20 10:05:31 2021
Count: 1
Stack: Interface\AddOns\HeroRotation_Monk\Events.lua:108: attempt to index field '?' (a nil value)
[string "@Interface\AddOns\HeroRotation_Monk\Events.lua"]:108: in function

[2021-11-20 21:13] Cilraaz commented on #805
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/d834f54e7f1743d00fefd9fdf162f5306d2dc529

[2021-11-20 21:13] #805 closed, assigned to Cilraaz

[2021-12-14 17:50] Hexus-Proud opened #806 "HeroRotation_Mage\Fire.lua error"
I get this error:

366x HeroRotation_Mage\Fire.lua:353: attempt to compare number with nil
[string "@HeroRotation_Mage\Fire.lua"]:353: in function <HeroRotation_Mage\Fire.lua:349>
[string "@HeroRotation_Mage\Fire.lua"]:863: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
(*temporary) = 3.426000
(*temporary) = <function> defined @HeroRotation_

[2021-12-15 18:07] MatteoLombardi opened #807 "[PRIEST - SHADOW] Shadowfiend never suggested"
Hi,

I never seem to be able to get Shadowfiend to be showed in the rotation, and cause of that the addon never suggests voidform until I force use shadowfiend

[2021-12-15 21:13] MatteoLombardi commented on #807
The problem is in the glyphs. I had glyph of the sha equipped. Removed it with vanishing powder fixed the rotation

[2021-12-15 21:13] #807 closed, assigned to nobody

[2021-12-16 07:08] cyberbook78 opened #808 "FPS DROPS"
Hi. for some time now I have had strong fps drops when hero rotation is running. especially when fighting with more adds my fps drop from 120 to below 50. when I deactivate hero rotation everything is fine with me. the fps drops are only when i go over the characters with the mouse.

Thanks in advance

[2021-12-19 18:20] drjekylltm opened #809 "Doesnt support Animacharged CPs"
HR continues to suggest shadowstrikes when animacharged CP is reached

[2021-12-22 19:31] Oep55 opened #810 "LUA Error - Brewmaster Monk"
Hello, if you would like me to post this elsewhere  please let me know, thanks.

Message: Interface\AddOns\HeroRotation_Monk\Brewmaster.lua:340: attempt to index field 'VolatileSolvent' (a nil value)
Time: Wed Dec 22 11:28:39 2021
Count: 63
Stack: Interface\AddOns\HeroRotation_Monk\Brewmaster.lua:340: attempt to index field 'VolatileSolvent' (a nil value)
[string "@Interface\AddOns\HeroRotation_Mo

[2021-12-22 19:33] Cilraaz commented on #810
This was previously fixed. The fix is included in version 9.1.5.06.

[2021-12-22 19:33] #810 closed, assigned to Cilraaz

[2021-12-29 17:39] dabing1986 opened #811 "Ant plan to introduce TBC version ?"

[2022-01-02 00:34] Mlynn360 opened #812 "Arcane Mage w/ Harmony Leggo"
Message: Interface\AddOns\HeroLib\Class\Unit\Aura.lua:32: attempt to index local 'ThisSpell' (a nil value)
Time: Sat Jan  1 19:13:08 2022
Count: 687
Stack: Interface\AddOns\HeroLib\Class\Unit\Aura.lua:32: attempt to index local 'ThisSpell' (a nil value)
[string "=[C]"]: ?
[string "@Interface\AddOns\HeroLib\Class\Unit\Aura.lua"]:32: in function <Interface\AddOns\HeroLib\Class\Unit\Aura.lua:27>
[str

[2022-01-02 02:40] Hexus-Proud opened #813 "HeroRotation_DeathKnight\Unholy.lua error"
Hi, I get this error message every time I attack an npc ...

27x HeroRotation\Core.lua:48: attempt to index local 'Object' (a nil value)
[string "@HeroRotation\Core.lua"]:48: in function `GetTexture'
[string "@HeroRotation\Core.lua"]:133: in function <HeroRotation\Core.lua:132>
[string "@HeroRotation_DeathKnight\Unholy.lua"]:648: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <

[2022-01-02 04:34] Cilraaz commented on #813
This was previously fixed in commit https://github.com/herotc/hero-rotation/commit/50eed15c692b0e805ff8e13481d1625f2fc895e2

[2022-01-02 04:34] #813 closed, assigned to Cilraaz

[2022-01-02 04:37] Cilraaz commented on #812
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/e61af652785e443480c83834b873d4157dbfb476

If it's still a problem, please let us know.

[2022-01-02 04:37] #812 closed, assigned to Cilraaz

[2022-01-03 21:24] GarrettCottrell opened #814 "Mage: Frost"
--When freezing rain is talented, blizzard is not recommended ever

It says that frost is "good" but the version I have when loaded says it is still a work in progress and only updated for 9.1. I have updated all addons from curseforge. Is there a version of frost that is updated that isn't pushed to curseforge yet that may be more up to date than what I have?

[2022-01-04 00:29] Cilraaz commented on #814
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/ef8314c54ecf3e8f0d920b2e2142fe5e57577cd3

[2022-01-04 00:29] #814 closed, assigned to Cilraaz

[2022-01-04 10:31] framara opened #815 "[DH Havoc] Blade Dance in Demonic window"
With the synergie between Blance Dance + First Blood talent + Dancig with Fate conduict + Demonic talent you always want to squeeze two DB (Death Sweep actually) inside the 6 seconds windows of Demonic after Eye Beam. It would be great that APL doesn't suggest to use DB if Eye Beam is coming soon (around 6-7 seconds) or if fury is below 45 when both spells are ready.

[2022-01-04 15:05] Herdrage commented on #815
It's written correctly as far as following the APL (don't BD if eye beam CD is less than 5 secs) but I agree I think it should add one more GCD's worth of time because sometimes that second death sweep doesn't appear until like a millisecond of demonic is left.

[2022-01-15 20:39] Dragonfo opened #816 "[SV Hunter] Bombs disappear in the rotation of the addon."
Hello. Now I was in a raid on Dormazain and my addon stopped offering Shrapnel Bomb in the rotation. After when I myself already pressed the button with Shrapnel Bomb, then the addon began to recommend it in the rotation. But during the fight, the addon could again forget to recommend me to use the Shrapnel Bomb when even there were already 2 bombs, the addon anyway did not recommend until I mysel

[2022-01-19 22:29] GarrettCottrell opened #817 "MM Hunter"
I notiiced that mm hunter is marked as "good" in the supported rotation documentation but there are a few issues that I have noticed.  If there was a recent update to the MM hunter rotation that may not be live yet then obv disregard these points:

1. During trueshot/resonating arrow window, on aoe with no lust, the addon will recommend a steady shot after the first two aimed shots, right before y

[2022-01-19 22:37] GarrettCottrell commented on #817
The talents I had selected when noticing these issues was:
1/3/3/2/2/3/3

I was Kyrian covenant

[2022-01-25 18:19] GarrettCottrell commented on #817
Another issue:

4. On ST, the addon will sometimes recommend rapid fire

[2022-01-26 21:01] Soulsmacka opened #818 "Slice N Dice"
Please give an option for the player to move slice and dice to the off GCD section instead of the main window, it throws me off when I'm opening up in PvP. I know my opener but it messes with the mind somehow when you see that huge icon on there. please this is my third request for this option. everything else seems customizable, all I ask is to give me the option to decide when I want to use it.

[2022-02-13 13:26] mizone opened #819 "[Rogue-Assassination]Vendetta doesn't show"
Hi,

I never saw Vendetta was recommended. Please check.

Would  you please design a  button/condition for us to switch blackpowder to Eviscerate based on the target health volume when do ADD deals?

[2022-02-20 19:24] GitJD82 opened #820 "Wind Walker monk rotation EWF spam."
Wind Walker monk rotation spams Earth Wind and Fire once you use it.  No matter how many times you click it...it just keeps interrupting the rotation making it difficult to  use correct rotation.

[2022-02-20 20:00] Cilraaz commented on #820
Please enable debug output and let us know which line is repeatedly suggested.

[2022-02-20 23:17] GitJD82 commented on #820
storm_earth_and_fire_fixate cd-sef 14.          Once you enable SEF  it tells you to press it after every other button you press.  Its for the fixate that the conduit is used for, but yhou shouldnt have to press it after every other button.  Especially on a single target.

[2022-02-20 23:27] Cilraaz commented on #820
I added a change that should mean it's only suggested once per SEF in commit https://github.com/herotc/hero-rotation/commit/74fdf05d613283c44499dcbf93e8225843614658.

Let me know if that makes it work more as expected.

[2022-02-20 23:54] GitJD82 commented on #820
Im not educated enough to make that change unless there is a whole file i can copy from here? I usually just grab it from CurseFOrge.

[2022-02-21 00:13] Cilraaz commented on #820
You can download a zip with the latest files [here](https://github.com/herotc/hero-rotation/archive/refs/heads/shadowlands.zip)

[2022-02-21 01:11] GitJD82 commented on #820
Looks  like that fixed it! Thanks!

[2022-02-21 02:08] #820 closed, assigned to Cilraaz

[2022-02-23 15:30] Cilraaz commented on #806
The profiles have been re-written for 9.2 launch day. This should no longer be an issue. If the problem persists, please let us know.

[2022-02-23 15:30] #806 closed, assigned to Cilraaz

[2022-02-23 15:34] Cilraaz commented on #817
The profile has re-written for 9.2 launch day. Please let us know if the issue continues.

[2022-02-23 15:34] #817 closed, assigned to Cilraaz

[2022-02-23 15:34] Cilraaz commented on #816
The profile has been re-written for 9.2 launch day. Please let us know if the issue persists.

[2022-02-23 15:34] #816 closed, assigned to Cilraaz

[2022-02-23 15:35] Cilraaz commented on #811
At this time, the team has not discussed any plan to release a TBC Classic version.

[2022-02-23 15:35] #811 closed, assigned to Cilraaz

[2022-02-23 15:36] Cilraaz commented on #784
The profile has been re-written for the release of 9.2. If the issue persists, please let us know.

[2022-02-23 15:36] #784 closed, assigned to Cilraaz

[2022-02-23 15:43] Cilraaz commented on #765
The profile has been re-written for 9.2 launch. There was previously an issue with FV/TV being skipped if cooldowns were not used as suggested, as spells like Crusade/Execution Sentence/etc being on cooldown were pre-requisites of use. That issue may or may not be resolved with the re-write. If it's not, please let us know.

As far as removing Divine Storm, you can disable AoE suggestions, which s

[2022-02-24 10:55] Atlentys commented on #765
Hello,
Problem not solved final verdict not showing at all in rotation instead writing pool or consecration even with all cd up
Add on even select crusader strike when we have 5 holy power

[2022-02-24 11:01] Zekke opened #821 "[Survival Hunter] AoE Error"
Sometimes the addon stop suggest anything during AoE (Venthyr SV)

212x HeroLib\Utils.lua:102: attempt to call field '?' (a nil value)
[string "@HeroLib\Utils.lua"]:102: in function `CompareThis'
[string "@HeroRotation\Commons.lua"]:86: in function `CastTargetIf'
[string "@HeroRotation_Hunter\Survival.lua"]:675: in function <HeroRotation_Hunter\Survival.lua:578>
[string "@HeroRotation_Hunter\Survi

[2022-02-24 13:02] Cilraaz commented on #765
It looks like Simulationcraft replaces Templar's Verdict with Final Verdict behind the scenes, rather than in the APL. I hadn't taken that into account. I've added the substitution in HeroRotation now. Please let me know if it is working after commit https://github.com/herotc/hero-rotation/commit/4579cdcf939a83d5d2d55982c3dc44a132faed0f

[2022-02-24 13:06] Cilraaz commented on #821
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/6204b293810a4a554c129ac36b51093e63773ef0

[2022-02-24 13:06] #821 closed, assigned to Cilraaz

[2022-02-24 15:38] Atlentys commented on #765
I copy the 2 new files and replace the old ones manually cause it seems curse software have not put automatic update yet
When loging paladin it said no rotation supported for this class spe add on disabled

[2022-02-24 18:24] Cilraaz commented on #765
There was a typo in the file. This has been fixed as of commit https://github.com/herotc/hero-rotation/commit/6e78ee608e0b3134f73e8693429908983458c61f

Please copy the latest Retribution.lua and try it again.

[2022-02-24 19:38] Atlentys commented on #765
same no rotation find for this spe
maybe i do it incorectly but i reinstalled all package to have a clean set up then i opened in blockpad retribution.lua and clik copy raw content here then save it and close

[2022-02-24 20:16] Cilraaz commented on #765
I pushed version 9.2.0.03. It should show up on Curse soon and will include the updates.

[2022-02-25 01:46] GarrettCottrell opened #822 "Fury Warrior - Recommendations dissappear instantly on pull"
Pre-pull there are recomendations but as soon as boss is pulled, all recommendations go away except for an occasional whirlwind

[2022-02-25 01:50] Cilraaz commented on #822
I am unable to replicate this. The profile seems to work fine for me. Please provide the following:

- HeroRotation version
- HeroLib version
- Talents used
- Legendary used
- Any lua errors being shown

[2022-02-25 01:55] GarrettCottrell commented on #822
HeroRotation-9.2.0.01.zip
HeroLib-9.2.0.01.zip
HeroDBC-9.1.5.01.zip
Talents: 2/1/2/2/3/2/1
No Legendary
No lua errors

[2022-02-25 01:59] Cilraaz commented on #822
There was an error in HeroRotation 9.2.0.01. Please update to 9.2.0.03.

[2022-02-25 01:59] #822 closed, assigned to Cilraaz

[2022-02-25 02:00] GarrettCottrell commented on #822
Is this able to be done via curseforge? Curseforge thinks I have the latest available version

[2022-02-25 02:01] Cilraaz commented on #822
CurseForge is showing 9.2.0.02 as the latest version (which does include the fix for Fury), but 9.2.0.03 can be downloaded from the github: [here](https://github.com/herotc/hero-rotation/releases/download/9.2.0.03/HeroRotation-9.2.0.03.zip)

[2022-02-25 02:04] GarrettCottrell commented on #822
Thank you for this - apologies for not looking into this sooner

[2022-02-28 00:15] Atlentys commented on #765
i installed clean one from curse still not working

[2022-02-28 01:03] Cilraaz commented on #765
Not working in what way? Just Final Verdict/Templar's Verdict or are you still getting the no rotation error?

[2022-02-28 02:20] Atlentys commented on #765
Just Final verdict not showing,  i tested without legendary and templar verdict is showing perfectly

[2022-02-28 03:23] Cilraaz commented on #765
Does your UI of choice allow you to see spell IDs? Unfortunately, I don't have a level 60 paladin to test, so I can't be sure that I have the correct spell ID for Final Verdict.

[2022-02-28 11:17] Atlentys commented on #765
According to wowhead spell=337247

[2022-02-28 13:18] Cilraaz commented on #765
337247 is the spell ID of the legendary, which may or may not be the same as the resulting ability on the bar. There's also 336872 (which appears to be the HoW proc associated with FV) and 337228. To confirm, with the legendary equipped, can you please type the following in-game: `HeroLib.Spell(337247):IsAvailable()` and press enter (capitalization does matter). If this returns true, then we can c

[2022-02-28 17:00] Atlentys commented on #765
I try with 337247 336872 337228 with HeroLib.Spell(337247):IsAvailable() and nothing happens
And thx to you for taking care of this you're doing an amazing work with this add on

[2022-02-28 17:03] Atlentys commented on #765
![Sans titre1](https://user-images.githubusercontent.com/82400978/156025946-d7de8a18-069f-40dd-84ce-bea5079abe3c.png)

[2022-02-28 17:12] Cilraaz commented on #765
I must have not been fully awake when I typed that up. The command would be `/dump HeroLib.Spell(337247):IsAvailable()`. Sorry about that.

[2022-02-28 17:28] Atlentys commented on #765
337247 false
336872 false
337228 false

[2022-02-28 17:58] Cilraaz commented on #765
Hmm, so somehow it's none of them? Just to verify, this was done with the Final Verdict legendary equipped? Also, can you double check 336872? According to the spell data from wowhead, it looks like that's the ID that's supposed to replace TV on the bar. I might have to finish leveling my paladin to get this sorted out.

There's always at least one oddity when it comes to Blizzard programming...

[2022-02-28 18:24] Atlentys commented on #765
Yes i checked i had the legendary equip and the spell final verdict in my bar and i double check everything

[2022-02-28 18:58] Cilraaz commented on #765
One other thing we can try is open your spell book, type `/dump "`, then shift-click Final Verdict which should create a link for the spell in chat, add another quotation mark at the end, and press enter. This will return a string similar to this (which is from Enh Shaman's Stormstrike):

`|Cff71d5ff|Hspell:17364:0|h[Stormstrike]|h|r` where 17364 is the spell ID.

Perhaps that will work for us? Th

[2022-02-28 21:45] Atlentys commented on #765
![Sans titre](https://user-images.githubusercontent.com/82400978/156063669-71a53f3d-6c96-47a0-ac1d-8d646e0e4b5a.png)

I don't understand when i do /dump HeroLib.Spell(336872):IsAvailable() answer is false
I'm very glad if i can help i have all lego and all char lvl 60

[2022-02-28 22:40] Cilraaz commented on #765
Can you try again with the latest Retribution.lua file after commit https://github.com/herotc/hero-rotation/commit/33b9ddf08f7062e1900aa7013ad7ecbf53583a79 ? We tried a different workaround.

If you wanted to download the entire addon package, the latest files can be found [here](https://github.com/herotc/hero-rotation/archive/refs/heads/shadowlands.zip)

[2022-02-28 23:53] Atlentys commented on #765
It's working ! Gl man you're good
Last problem is :
Empyrean power talent row 2 is selected addon never see the proc and never display divine storm
Add on doesn't show Divine toll kiryan covenant even if i put main icon/suggested/suggested right

[2022-02-28 23:59] Cilraaz commented on #765
Try the latest files again. This should be fixed in commit https://github.com/herotc/hero-rotation/commit/81639aa340b01b9e92698a63bc65f1c1f415140c

For Divine Toll, it should be suggested if either Execution Sentence or Final Reckoning are active on the target while you have 2 or fewer holy power or if...
- You have 0 or 1 holy power AND
- The target does not have the Judgment debuff AND
- Seraphi

[2022-03-02 12:23] Dragonfo opened #823 "SV Hunter Rotation doesn't show bombs"
Hello. A bug was noticed in the surv rotation that sometimes the addon does not recommend bombs, even when 2. Just the rotation goes on but without the use of bombs. If you yourself click on the bomb in non-rotation, then after the rotation starts to show them.

[2022-03-03 23:11] ReglohPri opened #824 "Holy and Shadow Priest no correct rotation."
There is no rotation more for shadow priest.

[2022-03-04 04:06] Cilraaz commented on #824
It sounds like you're running an old version of the addon. 9.2.0.04 had a typo in the Priest profile. It was fixed in 9.2.0.05. This version doesn't appear to be showing on CurseForge for some reason, but is available [here](https://github.com/herotc/hero-rotation/releases/download/9.2.0.05/HeroRotation-9.2.0.05.zip)

[2022-03-04 04:06] #824 closed, assigned to Cilraaz

[2022-03-04 12:13] awtsigma opened #825 "Shadow Priest"
Doesn't seem to load not sure why tried it with just HR on and still got the same error I've tried all the standard troubleshooting that I know not sure why this issue is going on. I have also re-installed all HR addons still no dice. Sorry if this is a waste of time and it's something on my end. Love the project hope to be able to support it soon

Date: 2022-03-04 06:09:49
ID: 1
Error occured in:

[2022-03-04 14:24] Cilraaz commented on #825
There is an updated version that fixes this problem that was not picked up by CurseForge for some reason. It can be found [here](https://github.com/herotc/hero-rotation/releases/download/9.2.0.05/HeroRotation-9.2.0.05.zip)

[2022-03-04 14:24] #825 closed, assigned to Cilraaz

[2022-03-04 15:32] ReglohPri commented on #824
Thanks a lot.
Sometimes is the new version not forwarded to CurseForge.

Reglohpri -> Holger

[2022-03-04 15:43] awtsigma commented on #825
thanks for the speedy response

[2022-03-04 16:26] Cilraaz commented on #824
Sometimes their system does not pick up a new version for a few days. Sometimes it will randomly miss picking up an entire version. We haven't really been able to figure out why.

[2022-03-04 20:04] Zekke opened #826 "[SV Hunter] mono? error"
Sometimes the addon stops suggesting spells for few sec during fight (venthyr 3-1-2-1-2-2-2 theotar + covenant leg).

291x HeroLib\Class\Unit\Aura.lua:32: attempt to index local 'ThisSpell' (a nil value)
[string "@HeroLib\Class\Unit\Aura.lua"]:32: in function <HeroLib\Class\Unit\Aura.lua:27>
[string "=(tail call)"]: ?
[string "@HeroLib\Class\Unit\Aura.lua"]:148: in function `DebuffRemains'
[string

[2022-03-04 20:19] Cilraaz commented on #826
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/b6efd46565036189f3ad3279d4707629dbd518f0

[2022-03-04 20:19] #826 closed, assigned to Cilraaz

[2022-03-05 07:17] mizone opened #827 "[Druid-Feral] no Jotungeirr"
Hi,

the current roation profile do not recommend Jotungeirr .

[2022-03-05 15:29] bobkat2000 opened #828 "Ret Pal - Ashen Hallow as "off GCD" in rotation?"
I'm a huge fan of this add-on, since I'm a passive player but also have a lot of alts... so this add-on helps me with the different rotations for each character to be effective.

I've been playing my Ret Pally and notice that my Ashen Hallow (Venthyr) shows up in the rotation early and cannot be bypassed... although this is very powerful, it can be also quite dangerous, given the large AOE range i

[2022-03-05 15:35] ReglohPri opened #829 "Error on frost mage"
255x HeroRotation_Mage\Frost.lua:306: attempt to index field 'IcyPropulsion' (a nil value)
[string "@HeroRotation_Mage\Frost.lua"]:306: in function <HeroRotation_Mage\Frost.lua:288>
[string "@HeroRotation_Mage\Frost.lua"]:434: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
(*temporary) = nil
(*temporary) = nil
(*temporary) = nil
(*temporary)

[2022-03-05 16:08] Cilraaz commented on #827
Jotungeirr will be suggested with other cooldowns. As such, they require cooldowns to be enabled. In addition, the location of the suggestion will be determined by the "DisplayStyle: Items" setting, found under class settings. This will be the left suggestion icon by default.

[2022-03-05 16:08] #827 closed, assigned to Cilraaz

[2022-03-05 16:11] Cilraaz commented on #828
The location of the suggestion icon for Ashen Hallow should have been determined by the "DisplayStyle: Covenant" setting under class settings. This was bugged, though. I've fixed it as of commit https://github.com/herotc/hero-rotation/commit/777e8e9926f075899566c66fc5fe5299ae8e52a0

[2022-03-05 16:11] #828 closed, assigned to Cilraaz

[2022-03-05 16:14] Cilraaz commented on #829
The spell object for Icy Propulsion was accidentally not included in the spell definitions. This has been fixed as of commit https://github.com/herotc/hero-rotation/commit/4a5a76c5d4acae2f23a7587404248f084e911872

[2022-03-05 16:14] #829 closed, assigned to Cilraaz

[2022-03-05 16:25] ReglohPri commented on #829
Ok, i have the same problem with Holy priest.

153x HeroRotation_Priest\Holy.lua:141: attempt to index field 'ArcanePulse' (a nil value)
[string "@HeroRotation_Priest\Holy.lua"]:141: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
(*temporary) = nil
(*temporary) = nil
(*temporary) = false
(*temporary) = <table> {
 LastCastTime = 0
 LastHitTim

[2022-03-05 16:29] ReglohPri opened #830 "Error on holy priest"
153x HeroRotation_Priest\Holy.lua:141: attempt to index field 'ArcanePulse' (a nil value)
[string "@HeroRotation_Priest\Holy.lua"]:141: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
(*temporary) = nil
(*temporary) = nil
(*temporary) = false
(*temporary) = <table> {
 LastCastTime = 0
 LastHitTime = 0
 LastAppliedOnPlayerTime = 0
 LastRemoved

[2022-03-05 16:32] Cilraaz commented on #830
This is fixed in commit https://github.com/herotc/hero-rotation/commit/a4e7e1e421c29643c03781e08d69a2ceb2f747c3

[2022-03-05 16:32] #830 closed, assigned to Cilraaz

[2022-03-05 16:37] ReglohPri commented on #830
You are very fast.

[2022-03-07 23:49] garnetri opened #831 "[Mage - Frost] Rotation Suggestions Bugged for Necrolord"
I've noticed that since I've switched to Necrolord, when I'm specced for commet storm it bugs out the rotation and it will stop showing when to use my ice lances. It then subsequently will only show flurry for my brain freeze procs. Not a huge deal I know, but it was really convenient to use hero rotation to track how many of my empowered ice lances I've used so far.

[2022-03-08 03:47] Cilraaz commented on #831
I checked the profile. There's no interaction between specific Covenants and Ice Lance suggestions. There was a bug in version 9.2.0.05 that, while it shouldn't be causing the issue you're seeing, has been fixed. Can you try version 9.2.0.06 and confirm if the issue is still occurring?

[2022-03-08 13:24] garnetri commented on #831
Thank you very much for the quick response. I've updated to 9.2.0.06 and will let you know what happens once I get a chance to try!

[2022-03-10 12:50] garnetri commented on #831
Confirming that the update to 9.2.0.06 has worked. All of my beautiful ice lance procs are showing up properly! Thank you Cilraaz.

[2022-03-10 13:38] Cilraaz commented on #831
Glad to hear it!

[2022-03-10 13:38] #831 closed, assigned to Cilraaz

[2022-03-10 22:17] Dragonfo opened #833 "Don't often use bombs in AOE and CT at tier 2 set Surv hunter"
I decided to test a new set. And I only have 2 tier sets. And I noticed that the addon simply did not have time to use bombs, the counter reached 2 bombs. I decided to sim my character in ST and AOE and saw that in the rotation bombs should be used more often than the addon recommends them. I've attached a screenshot with bomb stats.  https://imgur.com/a/RiEzflv
I just look at my statistics accord

[2022-03-10 22:26] Cilraaz commented on #833
Closing duplicate to issue #823

[2022-03-10 22:26] #833 closed, assigned to Cilraaz

[2022-03-13 17:45] GarrettCottrell opened #834 "Fury Warrior: Recommending raging blow on 5+ targets with bonegrinder buff active"
HeroRotation Version #9.2.0.06
HeroDBC Version #9.2.0.01
HeroLib Version 9.2.0.01

Talents: 3/3/1/3/3/3/1
Conduits: Piercing Verdict/Merciless Bonegrinder/Depths of insanity

The addon does not appear to support the merciless bonegrinder buff's changes to furry warrior AOE rotation on 5+ targets

The issue seems to be in the APL itself - it is not optimized for the merciless bonegrinder buff (even

[2022-03-13 18:32] GarrettCottrell opened #835 "Sub Rogue: When 2pc is equipped w/ shadow focus talent - still being recommended storm on 3 targets while in dance"
HeroRotation Version https://github.com/herotc/hero-rotation/issues/9.2.0.06
HeroDBC Version https://github.com/herotc/hero-rotation/issues/9.2.0.01
HeroLib Version 9.2.0.01

Talents: 2/3/2/2/2/3/3

Issue in Title - Addon does not appear to support 3 target rotation changes with shadow focus talented and 2 piece equipped.

[2022-03-13 19:39] Cilraaz commented on #834
The [Simulationcraft APL](https://github.com/simulationcraft/simc/blob/shadowlands/engine/class_modules/sc_warrior.cpp) currently has the following priorities for Whirlwind and Raging Blow.

1. Whirlwind to put up the Meat Cleaver buff on 2+ targets.
2. Raging Blow (regardless of target count) to keep up the Will of the Berserker buff or when using Tier28 2pc or at 2 charges.
3. Whirlwind when Mer

[2022-03-13 20:06] GarrettCottrell commented on #834
so on 5 targets with the merciless bonegrinder buff active, I am being recommened raging blow (I do not have the will of the berserker legendary equipped) by the addon. If the apl is taking tthat into acount then the recommendation I am recieving is incorrect - so the error may be in the implementation but not in the apl?

[2022-03-13 20:16] Cilraaz commented on #834
No. Point 2 in my previous response. If you have 2 charges of Raging Blow or 2 pieces of tier 28 gear, it'll be suggested before Whirlwind with Merciless Bonegrinder.

[2022-03-13 20:20] GarrettCottrell commented on #834
Ah okay, so yes, I just wanted to make sure that it was doing the behavior I thought. I did bring this up in the discord and it was agreed that is not optimal behavior during the bonegrinder buff. I was told that the maintainers of this apl do not choose to keep it fully optimal due to the difficulty with aoe and optimizing for executes.

During the bonegrinder buff, it should be recommending whir

[2022-03-13 21:01] GarrettCottrell opened #836 "Trinket displaying on main icon despite option selected to display as suggeseted"
I have attached  images but overhwelming power crystal is being suggested as a main icon, despite in options, having selected to have trinkets show as suggested - images below
![trinksuggestion](https://user-images.githubusercontent.com/49660931/158079085-54dbe31b-c2d0-4ef1-a812-addf08f4e640.PNG)
![trinkoptions](https://user-images.githubusercontent.com/49660931/158079089-024653c9-68ac-4004-b6b0-4

[2022-03-13 21:05] EvanMichaels commented on #835
Please update to 9.2.0.07, this should already be resolved. Thanks!

[2022-03-13 21:05] #835 closed, assigned to nobody

[2022-03-13 21:18] GarrettCottrell commented on #835
Thank you - I realized there was an update right  after I posted this :( my mistake

[2022-03-14 04:07] Cilraaz commented on #836
This has been fixed in commit https://github.com/herotc/hero-rotation/commit/805db4eb7b2c9aedb266b9344b00e9c475acc710

[2022-03-14 04:07] #836 closed, assigned to Cilraaz

[2022-03-14 09:00] tflo commented on #823
Noticed this too some days ago, with the Chakrams talent selected. (With Wildfire Infusion it seemed OK.)

[2022-03-14 14:04] Cilraaz commented on #823
I've updated the logic for bombs in commit https://github.com/herotc/hero-rotation/commit/f73c3319358e34d2f37cc4605c9fcda32935b6dd

Please try this update and see if it is working better for you.

[2022-03-14 14:30] Dragonfo commented on #823
Thanks, this fixed the problem, only the addon recommends using Jotungeirr when it is not on my character https://imgur.com/mRk49IE

[2022-03-14 14:34] Cilraaz commented on #823
That should be fixed in commit https://github.com/herotc/hero-rotation/commit/967372683fa70fca54fd8b1856b9af9f0542810c

[2022-03-14 14:46] Dragonfo commented on #823
Thanks again everything is great now.

[2022-03-14 14:46] #823 closed, assigned to Cilraaz

[2022-03-15 00:51] GarrettCottrell opened #837 "MM Hunter: on a 5 target training dummy setup I am being recommended arcane shot to consume precise shot procs"
As the title states, on aoe I am being recommended arcane shots to consume precise shots. The correct recommendation to consume precise shot procs on aoe is Multi-Shot.

On 3+ targets, I should never be recommended an arcane shot. It seems to happen whenever I have a precise shot proc to consume, but of course that may not be the actual reason and instead just a coincidence - but the isssue is the

[2022-03-15 01:06] GarrettCottrell commented on #837
Also with this same setup, on an aoe opener, after my 2nd aimed shot, it will always offer a steady shot recommendation (that swaps to a correct rapid fire recommendation but *only* afer the 2nd aimed shots full hits (so slowly enough that if I would have to pause for a global after my 2nd aimed shot in order to see the correct reommendation.

[2022-03-15 03:28] Cilraaz commented on #837
Arcane Shot is not suggested in AoE. If it's being suggested, then the profile is not recognizing an AoE environment. What target dummies are you using? The addon may be excluding them.

[2022-03-15 04:04] GarrettCottrell commented on #837
It is the stack of 5 in the kyrian covenant halls. Most of the time it is recommending multi-shot but arcane shot is recommended every now and then (same thing has happened in dungeons I've been in)

Another issue I'm noticing (that existed previous but I think the intension was to fix it with the 9.2 updates) is that on 2 targets, I am being recommended Multi-Shot. Not exclusively but it happens

[2022-03-15 04:33] Cilraaz commented on #837
This means that enough time has passed since an AoE action has occurred that the addon has reverted to single target. It should happen less often in groups, as group member AoE counts toward your target count. Data is kept for 5 seconds when solo, 4 when in a party (and in a dungeon), 3 when in a raid (and in a raid zone). So, in a situation where you're solo or working on target dummies, if you d

[2022-03-15 05:05] GarrettCottrell commented on #837
That is very odd - the only thing that makes sense is that when it's recommending multi-shot, there must be something that my abilities are splashing onto (maybe?)

Not sure how else I can help other than to post a vod of some sort for evidence, so until I get that - there's not much more I can do to help because it does seem like there's no way for this to be happening.

[2022-03-16 05:09] Thormor opened #838 "Outlaw Rogue - Rotation shows using Slice & Dice on an Animcharged (Kyrian) combo points, only damaging finishers counts"
Hello!

I dunno if this will get triaged, but right now if you have an anima charged combo point, it will suggest you hit slice & dice as a finisher (when on that charged combo points) instead of your damaging finishers and even if your slice & dice is up.

Anime-charged combo points only works on damaging abilities and thus it serves no purpose to redo a slice & dice on this charged cp.

Thank yo

[2022-03-16 05:41] EvanMichaels commented on #838
This is essentially a "happy accident" about the APL. It feels strange, but it's technically correct to potentially use lower combo point SnD casts under the right criteria. This only does this case when in pandemic range. It's doing the right thing (going into the Finisher list) for the "wrong" reason, but this was tested with the APL and shown as no particular gain to remove the normal SnD check

[2022-03-16 05:41] #838 closed, assigned to nobody

[2022-03-18 17:31] GarrettCottrell opened #839 "Harpoon showing as main icon for surv hunter when option selected to show it as off GCD"
Evidence:
![Harpoon](https://user-images.githubusercontent.com/49660931/159053234-a148a9f9-b3a2-46d8-8af4-36d87353c925.PNG)
![harpoonicon](https://user-images.githubusercontent.com/49660931/159053255-746aa4b0-8473-4682-8e82-07ed18cc88f7.PNG)

HeroRotation Version: 9.2.0.10
HeroLib Version: 9.2.0.02
HeroDBC Version: 9.2.0.02

[2022-03-18 17:38] Cilraaz commented on #839
Fixed in commit https://github.com/herotc/hero-rotation/commit/516ec8d3a075149394ac5b56d683d6aeeaaed2f9

[2022-03-18 17:38] #839 closed, assigned to Cilraaz

[2022-03-18 18:19] GarrettCottrell commented on #839
Thanks for being so responsive with changes when issues are discovered like this. Great work with the addon

[2022-03-19 17:38] danamero35 opened #840 "Hero rotation throwing large amounts of errors for arcane mage"
Within the last few updates HeroRotation now just throws a large number of errors on my Arcane Mage. I have tried removing and reinstalling the addon to no avail. Below is the error details:

1714x HeroRotation_Mage\Arcane.lua:1521: attempt to perform arithmetic on upvalue 'var_time_until_ap' (a nil value)
[string "@HeroRotation_Mage\Arcane.lua"]:1521: in function `?'
[string "@HeroRotation\Main.l

[2022-03-21 21:07] Hexus-Proud opened #842 "HeroRotation_Mage\Fire.lua since the patch 9.2 the same error as in 9.1 and 9.15"
I get the same error every time since wow 9.1 with my Fire-Mage......

190x HeroRotation_Mage\Fire.lua:356: attempt to compare number with nil
[string "@HeroRotation_Mage\Fire.lua"]:356: in function <HeroRotation_Mage\Fire.lua:352>
[string "@HeroRotation_Mage\Fire.lua"]:870: in function `?'
[string "@HeroRotation\Main.lua"]:449: in function <HeroRotation\Main.lua:427>

Locals:
(*temporary) = 3.300

[2022-03-21 22:31] Cilraaz commented on #842
It looks like you've somehow gotten into a scenario where somehow the CombustionTiming function is being called before the VarInit function. This would mean that when it tries to define a few timing variables in CombustionTiming, other variables that are being relied on are still nil. I've make a few changes that will hopefully prevent this from happening. Please try the changes in commits https:/

[2022-03-21 22:41] Cilraaz commented on #842
I did some more testing. It looks like this error should have only been happening if you open with a non-target spell (ground targeted, such as Flamestrike, or Arcane Explosion). In those instances, the variables were never being defined. I've changed when the VarInit function is called in commit https://github.com/herotc/hero-rotation/commit/cdb0760414ee08bf08302c2731dffb01f8823f76. This should b

[2022-03-22 17:23] Hexus-Proud commented on #842
Thank you very much for the quick help...

[2022-03-26 13:45] MatteoLombardi opened #843 "Variables seem not to work at all"
Hi, after the last update, even if variables are correctly stored in lua file, the behavior is not correct. Trinkets are set to "suggested" but show up in the main icon, and for kyrian prot pally, divine toll is NEVER suggested. Trinkets are still in main icon also if set as disabled entirely. Done a fresh install, restarts, reloads. Nothing fixed it. Any idea?

[2022-03-26 16:26] Cilraaz commented on #843
What spec are you having the settings issue with?

For Protection Paladin, it looks like the Divine Toll issue was an error in APL transcription, which has been fixed as of commit https://github.com/herotc/hero-rotation/commit/46ae760d13b7a4d556ff3e7303ae9be68a6da524

[2022-03-26 16:48] MatteoLombardi commented on #843
The trinket issue still applies to Prot paladin.

[2022-03-26 16:56] Cilraaz commented on #843
That is fixed as of commit https://github.com/herotc/hero-rotation/commit/cb5bc6cdaf5ed22a14f641d340d499c8e9cba060

Were there any other issues?

[2022-03-26 17:03] MatteoLombardi commented on #843
Not that I noticed, I'll comment once again after a few tests on new release.
Ty for the quick response!

[2022-03-27 16:30] GarrettCottrell opened #844 "Surv Hunter: Issues with addon delaying or simply ignoring 2pc bomb proc on st (apepars to be fixed - may have been running an older version accidentally)"
On ST target, while I have an active 2pc proc, the addon continues to recommend kill command/raptor strike but does not recommend the bomb. With survivor tier, on st, if you get a 2pc proc, that should be cast immediately.

To further elaborate, the addon continues to ignore bombs entirely on st (even when bombs are fully capped at 2 - regardless of tier procs)

Not sure why these are happening. W

[2022-03-30 04:07] mizone commented on #819
Hi
Could you please help verify this issue?

[2022-03-30 04:26] Cilraaz commented on #819
I'm unable to replicate an issue with Vendetta not being suggested. Please provide the talent build and legendary that you are using when this issue occurs. Please also provide the versions of HeroRotation and HeroLib that you are using.

[2022-03-30 11:30] mizone commented on #819
Hi Cilraaz,

here is more information for your reference:
Assassination, Talent: 2322223; Legendary: Unity + Zoldyck Insignia (preffered for M4 and M9)
HeroRotation version:9.2.0.12
Herolib version:9.2.0.05
heroDBC version:9.2.0.02

I uploadede two short vedios for your check.
[https://www.bilibili.com/video/BV1cq4y1e7vS/](url)
[https://www.bilibili.com/video/BV1DT4y1i7m5/](url)

[2022-03-30 13:42] Cilraaz commented on #819
In your videos, I didn't see any OffGCD suggestions. Would you please try disabling the OffGCD option for Vendetta to see if it appears in the main icon area? This setting is under Settings -> Interface -> AddOns -> HeroRotation -> Assassination -> Show Off GCD as Off GCD: Vendetta. Uncheck this box and test again. That will give us a direction to continue the debug process.

I tested with those t

[2022-03-30 15:06] mizone commented on #819
I disabled the offgcd option for vendetta. it still not suggested in mian icon area. After I using vendetta , vanish and racical ability will show in offgcd icon area.

Below is the herorotation.lua in WTF

HeroRotationDB = {
	["Locked"] = true,
	["ButtonsFramePos"] = {
		"BOTTOMRIGHT", -- [1]
		"UIParent", -- [2]
		"BOTTOMRIGHT", -- [3]
		-181.5025329589844, -- [4]
		13.83312129974365, --A [5]
	}

[2022-03-30 15:17] EvanMichaels commented on #819
Have had no issues using this as Assassination in raid recently. So not really sure what issue you may be having.

Vendetta in the current rotation does require some setup for most Covenants. Rupture must be up, and generally it wants you to use Flag prior to casting Vendetta. However in your video, it looks like you cast Flag/Shiv/Rupture so I'm not certain what would keep Vendetta from showing u

[2022-03-30 15:25] mizone commented on #819
I tryed to re install the herorotation ----failed.

I changed the game language to English. it works.......

[2022-03-30 15:26] mizone commented on #819
it only works for English environment?

[2022-03-30 15:27] mizone commented on #819
only Vendetta did not work. others works very well.

[2022-03-30 15:28] EvanMichaels commented on #819
Thanks for the info. It could be related to the Covenant checks. It shouldn't be that way, but something may be interfering with our mapping of the Covenant strings. I will investigate today. Thanks for the report!

[2022-03-30 15:29] mizone commented on #819
![image](https://user-images.githubusercontent.com/13501972/160872577-8d8bf0f1-d369-40f0-9955-d22b49bc185a.png)

[2022-03-30 15:29] mizone commented on #819
thank you too.

[2022-03-30 18:06] EvanMichaels commented on #819
I believe this should be fixed by https://github.com/herotc/hero-rotation/commit/a033fb32c1e25c2e8f2f9c435a13024bde742a78

[2022-03-31 04:41] mizone commented on #819
yes. it works. Thank you all.

[2022-03-31 04:41] #819 closed, assigned to nobody

[2022-03-31 04:42] #637 closed, assigned to nobody

[2022-03-31 04:42] #663 closed, assigned to nobody

[2022-04-01 17:20] Wolfynko opened #845 "After targeting enemy getting lua errors"
please help :(

Message: ...nterface\AddOns\HeroRotation_Paladin\Retribution.lua:144: attempt to index field 'PustuleEruption' (a nil value)
Time: Fri Apr  1 19:14:34 2022
Count: 1336
Stack: ...nterface\AddOns\HeroRotation_Paladin\Retribution.lua:144: attempt to index field 'PustuleEruption' (a nil value)
[string "=[C]"]: ?
[string "@Interface\AddOns\HeroRotation_Paladin\Retribution.lua"]:144: in

[2022-04-01 17:23] Cilraaz commented on #845
This is now fixed in commit https://github.com/herotc/hero-rotation/commit/27ff81d26a59ab2354129caae8c542f8f8133fb5

[2022-04-01 17:23] #845 closed, assigned to Cilraaz

[2022-04-01 17:24] Cilraaz commented on #844
If this is still an issue or re-appears in a later version, please let us know.

[2022-04-01 17:24] #844 closed, assigned to Cilraaz

[2022-04-01 17:24] Cilraaz commented on #843
Please let us know if you are having any further issues. Closing this issue for now.

[2022-04-01 17:24] #843 closed, assigned to Cilraaz

[2022-04-01 17:25] Cilraaz commented on #842
Feel free to let us know if you have any further issues. Closing this issue for now.

[2022-04-01 17:25] #842 closed, assigned to Cilraaz

[2022-04-01 17:41] Cilraaz commented on #840
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/01a17e3ae3855d7c7b0a1970928a267f220184fe

[2022-04-01 17:43] Cilraaz commented on #837
If the incorrect enemy count continues to be an issue, please let us know. Closing this issue for now.

[2022-04-01 17:43] #837 closed, assigned to Cilraaz

[2022-04-01 17:44] #834 closed, assigned to Cilraaz

[2022-04-01 17:49] #765 closed, assigned to Cilraaz

[2022-04-01 17:50] Cilraaz commented on #711
This profile has since been completely rewritten for 9.2. If any issue still exists, please open a new issue.

[2022-04-01 17:50] #711 closed, assigned to Cilraaz

[2022-04-01 17:51] Cilraaz commented on #709
The profile was completely re-written for 9.2. If any problems persist, please open a new issue.

[2022-04-01 17:51] #709 closed, assigned to nobody

[2022-04-01 17:51] Cilraaz commented on #693
The profile was completely re-written for 9.2. If any problems persist, please open a new issue.

[2022-04-01 17:51] #693 closed, assigned to nobody

[2022-04-01 17:54] Cilraaz commented on #684
The profile was completely re-written for 9.2. If any problems persist, please open a new issue.

[2022-04-01 17:54] #684 closed, assigned to Cilraaz

[2022-04-01 17:54] Cilraaz commented on #646
The profile was completely re-written for 9.2. If any problems persist, please open a new issue.

[2022-04-01 17:54] #646 closed, assigned to nobody

[2022-04-02 17:26] Dragonfo opened #846 "[Frost DK] AoE recommendation to switch between targets with T4 set"
Hello. From t4, as far as I know, we don't switch to AoE targets to hang Rune of Razorice. Because we have other runes for weapons and we hang Rune of Razorice on the target at the expense of T4 set. Is it possible to fix this in AOE? Thanks

[2022-04-02 17:34] Cilraaz commented on #846
The Simulationcraft APL does not reflect this and currently suggests target changes. If the APL changes, HeroRotation will change accordingly.

[2022-04-02 17:34] #846 closed, assigned to Cilraaz

[2022-04-03 09:47] Dragonfo commented on #846
I specifically requested my character with a t4 set, in different simulation conditions. And I saw that when we refuse the Rune of Razorice rune, we do not switch to nearby targets. The Sim clearly shows the switch being made only on the Howling Blast. And abilities like Frost Strike Obliterate only affect the primary target. This problem is on your addon side not on the APL side. I can provide al

[2022-04-03 10:02] nyterage commented on #846
Hi, APL dev here for frost dk. i dont remember talking to you about this?

but, either way. the formula used for sims switching targets multiplies against the runeforge being present. if the runeforge isnt present, it wont switch targets. So your assumption is correct.

[2022-04-03 19:47] Cilraaz commented on #846
I've added some checks to the profile. For the abilities that would suggest target changes to spread Razorice stacks, target changes will not be suggested if Razorice is not in use.

This is included in commit https://github.com/herotc/hero-rotation/commit/7c9e9d46318145c6366ee8f88020230f79f42990

[2022-04-07 06:12] c-ray-c opened #847 "Condemn - wrong id's"
Currently, HeroRotation is never showing icon for Condemn due to wrong ids in the Warrior.lua.
GetSpellInfo("Condemn") returns id - 330334, but in the code it is:

`
  Condemn                               = MultiSpell(330325, 317485),
`

Also, a question: wouldn't it be better to use GetSpellInfo by spell name to get the id instead of hardcoding them like that?

[2022-04-07 12:44] Cilraaz commented on #847
This spell ID has been added in commit https://github.com/herotc/hero-rotation/commit/733a3ab20875c4a168817d23601143fd4e3b6db4

We don't use GetSpellInfo, as that would break based on localization for all non-English clients.

[2022-04-07 12:44] #847 closed, assigned to Cilraaz

[2022-04-07 19:07] mizone opened #848 "[Rogue_Sub] Please help check if my code can be used"
I have some idea for you. please check if my code can be used.

--- ============================ CD for Mythic +  ============================ use ( HR.CDsON()  and MayCDsON() ) replace HR.CDsON()
local function MayCDsON()
  if Player:IsInDungeonArea() then
      if Target:IsInBossList() then
	      return true
      elseif Target:TimeToDie() >= 20 then   --TTD>=25sfor 20+；20s for 17-20   only use

[2022-04-07 19:22] EvanMichaels commented on #848
I don't mind adding more NPCs to the auto priority list, however I'd need to know what NPCs those map to in order to confirm. Perhaps we can support a user-editable list though.

[2022-04-08 04:51] mizone commented on #848
it would be great to have a User-editable list in the UI.

AUPRTargetIDlist = {
--Mythic+ Part--
185685,  --Urh Relic
171343,  -- DOS, Bladebeak Matriarch
168942,  --DOS, Death Speaker
169905,  --DOS, Risen Warlord
164557,  --HOA, Shard of Halkias
164929,  --MOTS, Tirnenn Villager
170850,  --TOP, Raging Bloodhorn
164596,  --TOP, Ancient Captain
167998,  --TOP, Portal Guardian
162763,  --TOP, Soulf

[2022-04-08 06:38] c-ray-c commented on #748
Confirming - still an issue for rogues. Not only in stealth, btw. Probably has to do with bar switching when coming out of stealth.

[2022-04-08 08:56] mizone commented on #848
Could you also give a trigger that do not use SymbolsofDeath and Shadowdance when TTD <=10 seconds,  when deal with Adds in Mythic + ? or a editeable time setting?

[2022-04-08 11:12] c-ray-c opened #849 "Missing event subscriptions causing key binds to not show up correctly for sub rogue"
Current (old) problem: for classes with bar swapping the keybinds may not always correctly show.
Sample: sub rogue, activating shadow dance swaps bar to the "stealth" one and then the key binds stop showing up (observed specifically for Eviscerate which is present on slot 3 both of the normal and "stealth" bars.

Looks like this change in the HeroLib fixes it (need to more testing but so far is lo

[2022-04-08 11:14] c-ray-c commented on #849
Also likely subscribing here to ACTIONBAR_SLOT_CHANGED is not a good idea, as it triggers for specific slot and we are handling that properly at line 143.

[2022-04-08 13:08] Cilraaz commented on #849
After some quick testing, this seems to work fine, so the changes have been included in commit https://github.com/herotc/hero-lib/commit/575cf6179ebbd99af009c79371e660baf8a250af

[2022-04-08 13:08] #849 closed, assigned to Cilraaz

[2022-04-08 16:22] Cilraaz commented on #748
This should be fixed with the updates that you'd suggested in issue #849. If not, please let me know.

[2022-04-08 16:22] #748 closed, assigned to Cilraaz

[2022-04-10 16:41] MatteoLombardi opened #850 "[Priest - Shadow] Lua Errors almost at any pull"
Hello, during normal rotation, almost every pull the main icon stops being shown, and out of combat (thanks to ElvUI), I get greeted by this error.

Never happened to me in 9.1.5

Count: 75
Stack: Interface\AddOns\HeroRotation\Commons.lua:62: attempt to call local 'Condition' (a nil value)
[string "@Interface\AddOns\RCLootCouncil\Classes\Services\ErrorHandler.lua"]:149: in function <...dOns\RCLoot

[2022-04-10 17:00] Cilraaz commented on #850
This was due to a typo. It has been fixed in commit https://github.com/herotc/hero-rotation/commit/0a33746eb48eba14e0aa1e8adfc4c684c3a21c25

[2022-04-10 17:00] #850 closed, assigned to Cilraaz

[2022-04-14 15:09] c-ray-c opened #852 "[Hunter Survival Venthyr] Flayed Shot is never seen"
Somehow Flayed Shot is **never** showing up for Survival hunter (have Covenant abilities set to show up in the Main icon).

[2022-04-14 15:24] Cilraaz commented on #852
Can you please provide the spell ID for your Hunter's Flayed Shot? If your UI does not do this for you, please type into chat `/dump "`, then shift click the spell from your spellbook, then add another `"`. This will print the spell string, which will contain the spell ID.

The profile currently should suggest Flayed Shot effectively on CD in all scenarios. For 1-2 target scenarios, it should be s

[2022-04-14 15:54] c-ray-c commented on #852
after changing specs, reloading, changing display style for covenant between Main and Suggested - now it finally is showing up for higher HP mobs

[2022-04-14 15:54] #852 closed, assigned to Cilraaz

[2022-04-15 10:36] c-ray-c opened #853 "Frost mage rotation - broken?"
So, I almost **only** get to see Ice Lance in the main icon. Even when it's a single target, it is not frozen etc. Almost never seeing frostbolts or anything else...

Spec: 2312121

[2022-04-15 10:39] c-ray-c commented on #853
![image](https://user-images.githubusercontent.com/80422771/163561588-c1a0a122-adbd-4969-81b4-9097ed8e4eb0.png)
Here following the rotation I had to press ice lance until mob was dead.

[2022-04-15 10:45] c-ray-c commented on #853
Here, the condition seem to be erronous:
`
  if S.IceLance:IsCastable() and (Target:DebuffUp(S.WintersChillDebuff) and Target:DebuffStack(S.WintersChillDebuff) > num(Player:BuffUp(S.FingersofFrostBuff)) and Target:DebuffRemains(S.WintersChillDebuff) > S.IceLance:TravelTime()) then
    if Cast(S.IceLance, nil, nil, not Target:IsSpellInRange(S.IceLance)) then return "ice_lance single 18"; end
  end

[2022-04-15 10:47] c-ray-c commented on #853
Changing to `Target:DebuffStack(S.WintersChillDebuff) > 3` unlocks the rotation, but obviously this is not a fix

[2022-04-15 15:49] Cilraaz commented on #853
I'm unable to replicate this issue. The rotation works as expected for me.

The line you're referencing requires the Winter's Chill debuff to be active on the target, so I highly doubt that it would somehow hang the rotation on that line.

[2022-04-17 14:24] mizone opened #854 "[Rogue_Sub] is it necessary to cast ShurikenStorm during ShurikenTornado?"
Hi,

ShurikenStorm, Shadowstrike are recommended during ShurikenTornado when AOE target =5. any reason for this? I think we should cast more BlackPowder in this 4 second window when AOE.

[2022-04-17 14:41] #854 closed, assigned to nobody

[2022-04-20 06:37] cyberbook78 opened #855 "Lua Error"
Message: Interface\AddOns\HeroLib\Class\Item.lua:135: Usage: GetSpellBaseCooldown(spellID)
Time: Wed Apr 20 08:33:27 2022
Count: 10
Stack: Interface\AddOns\HeroLib\Class\Item.lua:135: Usage: GetSpellBaseCooldown(spellID)
[string "=[C]"]: ?
[string "=[C]"]: in function `GetSpellBaseCooldown'
[string "@Interface\AddOns\HeroLib\Class\Item.lua"]:135: in function `Cooldown'
[string "@Interface\AddOns\H

[2022-04-20 06:48] Cilraaz commented on #855
What trinkets are you using when this error occurs?

[2022-04-22 06:27] c-ray-c commented on #853
Not sure how that can work for you, because the condition is definitely wrong `Target:DebuffStack(S.WintersChillDebuff) > num(Player:BuffUp(S.FingersofFrostBuff)` The `num(Player:BuffUp(S.FingersofFrostBuff)` part will be either 0 or 1, so obviously it will just get locked in the Cast(S.IceLance, nil, nil, not Target:IsSpellInRange(S.IceLance)). There is absolutely NO point in casting ice lance wh

[2022-04-23 07:05] #853 closed, assigned to Cilraaz

[2022-04-23 07:07] c-ray-c opened #856 "FrostDK - wrong "OutOfRange" condition for Glacial Advance"
Lines: 302, 314, 608, 649, 673, 716, 792 have wrong value passed as "OutOfRange" resulting in icon showing up as if the spell is out of range, when it's not.
![image](https://user-images.githubusercontent.com/80422771/164884233-c01b7a82-aa39-431a-808e-1326e9f5345a.png)

[2022-04-23 17:20] Cilraaz commented on #856
This has been updated in commit https://github.com/herotc/hero-rotation/commit/165d7ab2966a4481d16442d1c4c8ff081c6883e1

The ComputeTargetRange function, which resulted in the TargetIsInRange table, has been removed. The profile now uses Target:IsInRange, Target:IsSpellInRange, and Target:IsInMeleeRange instead.

[2022-04-23 17:20] #856 closed, assigned to Cilraaz

[2022-04-25 22:34] Cilraaz commented on #840
No response in 24 days. Assuming this is fixed. If not, please let me know.

[2022-04-25 22:34] #840 closed, assigned to Cilraaz

[2022-04-25 22:39] Cilraaz commented on #855
Added a check to Item:Cooldown() that should prevent the errors mentioned above. This was added in commit https://github.com/herotc/hero-lib/commit/56fee37121e37da46b851a96b66bcf8b189d1905

[2022-04-25 22:39] #855 closed, assigned to Cilraaz

[2022-04-27 07:57] c-ray-c opened #857 "[DH Havoc] Rotation shows "Demon Blades" - a passive talent"
Havoc rotation for some reason shows an icon for... Demon Blades - a passive talent. Why???

`
  -- Manually added: Demon's Bite/Demon Blades if in melee range
  if Target:IsInMeleeRange(5) and (S.DemonsBite:IsCastable() or S.DemonBlades:IsAvailable()) then
    if Cast(S.DemonsBite, nil, nil, not Target:IsInMeleeRange(5)) then return "demons_bite or demon_blades precombat 4"; end
  end
`

[2022-04-27 07:59] c-ray-c commented on #857
![image](https://user-images.githubusercontent.com/80422771/165470281-b3718697-17e1-498c-9d5b-ba0d47f062ad.png)

[2022-04-27 08:00] c-ray-c commented on #857
![image](https://user-images.githubusercontent.com/80422771/165470478-6270164b-b4ab-4b4e-89ef-2a6218ef6f63.png)

[2022-04-27 09:56] Cilraaz commented on #857
Because it's the end of the Precombat chain, so the alternative was no icon at all.

[2022-04-27 11:35] c-ray-c commented on #857
I don't get it... What's the purpose to show an icon for a passive skill... What should I do when I see it? Maybe something like pooling would be more meaningful?

[2022-04-27 12:40] Cilraaz commented on #857
When you see that icon, you should attack your target. There is no other icon to show at that point. Showing no icon usually indicates a problem with the addon, so that's not preferred. I fail to see how the Pooling icon would be preferred over an icon that effectively tells you to attack your target.

[2022-04-27 12:49] c-ray-c commented on #857
How should I know this is an icon that tells me that I need to attack, tho? I mean, I didn't see that for any other rotation. Usually "attack it with auto-attack" is a pooling icon, isn't it?

[2022-04-27 12:58] Cilraaz commented on #857
The Pooling icon denotes that there is no action to take.

[2022-04-27 13:01] #857 closed, assigned to nobody

[2022-04-28 09:28] c-ray-c opened #858 "[Feral druid] Exceptions"
This code is throwing exceptions if combat was initiated before the Precombat() was called

`    if (ComboPoints >= (5 - VarFourCPBite)) then
      local ShouldReturn = Finisher(); if ShouldReturn then return ShouldReturn; end
    end
`

Reason is VarFourCPBite is initialized in the Precombat().

[2022-04-28 12:17] Cilraaz commented on #858
I've moved the variable definitions into their own function, which is called in the main APL loop, rather than from Precombat. This should resolve the issue. This is included in commit https://github.com/herotc/hero-rotation/commit/e8df384cb006de1f49f2c527d8448a322f3b4564

[2022-04-28 12:17] #858 closed, assigned to Cilraaz

[2022-04-28 12:39] c-ray-c opened #859 "[Balance druid] Warrior of Elune is suggested when it's not usable"
The check for WarriorofElune needs to be changed from `IsCastable()` to `IsReady()` in order to fix.

[2022-04-28 14:14] Cilraaz commented on #859
This has been fixed in commit https://github.com/herotc/hero-rotation/commit/6307428e4c0cf19a861c94c53266052fc76a3403

[2022-04-28 14:14] #859 closed, assigned to Cilraaz

[2022-04-29 07:36] c-ray-c opened #860 "[Demonology Warlock] A lot of errors due to missing argument"
`
    if Cast(I.ResonantReservoir, nil, Settings.Commons.DisplayStyle.Trinkets, not Target:IsInRange()) then return "resonant_reservoir dmg 4"; end
  end
  -- use_item,name=architects_ingenuity_core
  if I.ArchitectsIngenuityCore:IsEquippedAndReady() then
    if Cast(I.ArchitectsIngenuityCore, nil, Settings.Commons.DisplayStyle.Trinkets, not Target:IsInRange()) then return "architects_ingenuity_co

[2022-04-30 23:12] Cilraaz commented on #860
This is fixed in commit https://github.com/herotc/hero-rotation/commit/3d394a0643c34004617c795f29dcbae1ba8df486

[2022-04-30 23:12] #860 closed, assigned to Cilraaz

[2022-05-02 12:55] c-ray-c opened #861 "[Destruction Warlock] Shadowburn - check for IsReady instead of IsCastable"
For Shadowburn check the IsCastable is not enough, because then it will get suggested to be used when there are no shards. Should be replaced with IsReady
Probably wouldn't hurt to do the same for the rest of checks of other spells

[2022-05-02 13:10] Cilraaz commented on #861
Shadowburn has been fixed as of commit https://github.com/herotc/hero-rotation/commit/431f5c142467bb51be34fe1ec8571f86b12b019d

I checked the remainder of spells using IsCastable, which all appear to be fine.

[2022-05-02 13:10] #861 closed, assigned to Cilraaz

[2022-05-04 06:24] cyberbook78 opened #862 "SV Hunter rotation"
the single target rotation is broken. he only does Serpent Sting. Thx

[2022-05-04 09:18] framara commented on #862
rotation is broken since last update

[2022-05-04 09:32] cyberbook78 commented on #862
Yes

[2022-05-04 13:01] Cilraaz commented on #862
I'm unable to replicate this. Please provide the following:

- Talents used
- Legendary used
- Covenant used
- Tier set status
- Debug output (enable debug output in settings and let me know which Serpent Sting line is getting stuck)

[2022-05-04 14:01] zerxyboy commented on #862
Same issue for me with this update. Reverted back to version xx.17 and it doesn't have the same issue.

Talents used
- Alpha Predator
- Guerilla Tactics
- Camo
- Bloodseeker
- Binding Shot
- Tip of the Spear
- Wildfire Infusion

Legendary used
- Wildfire Cluster

Covenant used
- Kyrian

Tier set status
- 4 Set

Debug output (enable debug output in settings and let me know which Serpent Sting line

[2022-05-04 14:08] zerxyboy commented on #862
It seems to be at "serpent_sting st 4"

[2022-05-04 14:46] Cilraaz commented on #862
Thank you for the report and the further information. I found an error that I made in transcribing that Serpent Sting line. I used an "or" where an "and" should have been. This has been fixed in commit https://github.com/herotc/hero-rotation/commit/b1e760b685ce50a38c5223fe9e6f7cc913b1e901

Please let me know if you have any further issues after applying this update.

[2022-05-04 14:46] #862 closed, assigned to Cilraaz

[2022-05-05 04:17] #808 closed, assigned to nobody

[2022-05-06 05:28] c-ray-c opened #864 "[Fleshcraft] Add an option to never display it"
Currently, the problem is that casting Fleshcraft is very-very situational and really shouldn't be a part of the combat rotation, in my opinion, while the other one necrolord ability - should be a part of the rotation, for sure. So would be nice either to move Fleshcraft to some another icon or to give an option to fully disable suggestions to cast it, as we anyways have WA or something else to re

[2022-05-06 05:31] Cilraaz commented on #864
Fleshcraft is part of the Simulationcraft APL, so it's included in HeroRotation. There is the option to move where Covenant spells are located.

[2022-05-06 05:31] #864 closed, assigned to Cilraaz

[2022-05-06 05:35] c-ray-c opened #865 "[Warlock] Summon pet - can we make it optional?"
Can we have an option to disable Summon pet altogether? As destruction I find myself in situations when pet is killed, but it's not an appropriate time to summon it... Meaning that the spell is very situational.

[2022-05-06 05:51] c-ray-c commented on #864
I don't get it... Why defensive situational spell is part of the rotation? If anything, it only results in loss of dps if not cast at appropriate time of the encounter...

[2022-05-06 05:55] nyterage commented on #864
Some soulbind abilities, such as marileths volatile solvent are big dps increases to cast fleshcraft on cooldown. same with emenis pustule eruption. it should only be suggested in the APLs with these traits selected, so not using it will be a dps loss, hence why it casts it in the APLs.

[2022-05-06 07:15] c-ray-c commented on #864
As I said: it **will** result in dps loss if not cast at **appropriate** time of the encounter. A lot of times I see it's suggested when casting it **will** result in dps loss.

[2022-05-07 16:32] Exo62 opened #866 "[SV Hunter] Lua-Error"
hello, i have a problem with the hero rotation with the survival hunter. almost every time i start a fight a lua error window appears with the message:

Message: Interface\AddOns\HeroRotation_Hunter\Survival.lua:328: attempt to compare number with nil
Time: Sat May  7 18:22:46 2022
Count: 695
Stack: Interface\AddOns\HeroRotation_Hunter\Survival.lua:328: attempt to compare number with nil

Locals:

[2022-05-07 16:35] Cilraaz commented on #866
This has been fixed as of commit https://github.com/herotc/hero-rotation/commit/400bb3a2ea8df54b73060b13fca5ebbbd6a357f2

I'll push a new release version now, which will contain the fix.

[2022-05-07 16:36] Cilraaz commented on #866
The fix is in release version 9.2.0.19.

[2022-05-07 17:15] Exo62 commented on #866
Thank you very much :)

[2022-05-07 18:23] Exo62 commented on #866
I exchanged the file but unfortunately the problem persists :(

[2022-05-07 18:29] Cilraaz commented on #866
Please provide the lua error in its entirety.

[2022-05-07 18:48] Exo62 commented on #866
Message: Interface\AddOns\HeroRotation_Hunter\Survival.lua:328: attempt to compare number with nil
Time: Sat May  7 20:47:28 2022
Count: 353
Stack: Interface\AddOns\HeroRotation_Hunter\Survival.lua:328: attempt to compare number with nil

Locals:

[2022-05-07 18:49] Cilraaz commented on #866
Please include the remainder of the lua error, specifically the Locals.

[2022-05-07 18:52] Exo62 commented on #866
where can i find that? I'm sorry to cause so much trouble, I'm not familiar with it

[2022-05-07 18:53] Cilraaz commented on #866
It should be in the same box where you pulled the base error.

[2022-05-07 18:53] Exo62 commented on #866
i copied everything that was in there. there is not more information

[2022-05-07 18:55] Cilraaz commented on #866
What version of the addon are you using?

[2022-05-07 18:56] Cilraaz commented on #866
Also, which trinkets are you using?

[2022-05-07 18:57] Exo62 commented on #866
Curseforge sais "HeroRotation-9.2.0.18.zip but inside the folder i changed everything with the 9.2.0.19 version

[2022-05-07 18:59] Exo62 commented on #866
overcharged anima battery and Inscrutable Quantum Device

[2022-05-07 18:59] Cilraaz commented on #866
CurseForge has version 9.2.0.19 [on their site](https://www.curseforge.com/wow/addons/herorotation/files/3783012). Just to be sure that all files are up to date, please update with that version however you usually update addons.

[2022-05-07 19:20] Exo62 commented on #866
i reinstalled curseforge just to point that out but now it wont open anymore and will be stuck at the " forging your library" screen. give me a minute

[2022-05-07 19:48] Exo62 commented on #866
![hr](https://user-images.githubusercontent.com/105121889/167269553-43d8b7b2-a680-4804-bc3d-9fca04ebe9b9.PNG)

i reinstalled everything and took your link to install herorotation. it still says its on 9.2.0.18 and the error continues to appear randomly

[2022-05-07 19:53] Exo62 commented on #866
What also surprises me is that since the error has occurred, the "serpent bite" the next favorite action would be displayed for every single target fight. in multi taget fight it works.

[2022-05-07 20:17] sekaone commented on #866
i had the same with serpent bite. now it only shows me bomb sometimes but most of the time just Pooling

[2022-05-07 20:23] Cilraaz commented on #866
9.2.0.18 has a known issue. It looks like Curse is having some website issues. Once they're sorted out and you update to 9.2.0.19, please retry and see if you have the same issue. Alternatively, please manually install from the [github zip](https://github.com/herotc/hero-rotation/releases/download/9.2.0.19/HeroRotation-9.2.0.19.zip).

[2022-05-07 20:24] Exo62 commented on #866
i will try that. thank you and i will reply wen its updated

[2022-05-13 15:01] Hyrpsup opened #868 "Arcane Mage - still lua Errors upon targeting enemy"
Date: 2022-05-13 16:56:52
ID: 1
Error occured in: Global
Count: 1
Message: ..\AddOns\HeroRotation_Mage\Arcane.lua line 224:
   attempt to perform arithmetic on a boolean value
Debug:
   [string "=[C]"]: ?
   [string "@HeroRotation_Mage\Arcane.lua"]:224:
      HeroRotation_Mage\Arcane.lua:148
   [string "@HeroRotation_Mage\Arcane.lua"]:279:
      HeroRotation_Mage\Arcane.lua:276
   [string "@HeroRo

[2022-05-13 15:10] Hyrpsup commented on #868
Addition to above: only happens if "Use fishing opener" is enabled in the settings. without fishing opener everything works just fine

[2022-05-13 15:59] Cilraaz commented on #868
This should be fixed in commit https://github.com/herotc/hero-rotation/commit/f8f0a54f666aa5b70ffea098d4c0c3363c32d164

[2022-05-13 15:59] #868 closed, assigned to Cilraaz

[2022-05-13 16:26] Cilraaz commented on #865
Added the option in commit https://github.com/herotc/hero-rotation/commit/45d66823bb235fcbba24afe686dc6d9ec9a9871e

[2022-05-13 16:26] #865 closed, assigned to Cilraaz

[2022-05-13 16:27] Cilraaz commented on #866
No updates in 6 days. If this is still an issue, please let us know.

[2022-05-13 16:27] #866 closed, assigned to Cilraaz

[2022-05-13 16:28] Cilraaz commented on #809
The profiles have since been updated and support anima charged CPs at this time.

[2022-05-13 16:28] #809 closed, assigned to nobody

[2022-05-15 13:48] thekk1 opened #869 "[Warrior - Fury] No rampage while bladestorm"
While bladestorm is channeling and rage is above 80, RagingBlow or CrushingBlow is suggested as next spell which is switched immediatly to Rampage after Bladestorm ends.

The reason is, that the used method "S.Rampage:IsReady()", for example line 144 fury.lua, is inherit the method Spell:IsUsable() (from Spell:IsUsableP(Offset)).
Spell:IsUsable() returns false while casting bladestorm which is not

[2022-05-15 15:58] Cilraaz commented on #869
I added an override for Rampage that should fix the issue. This is included in commit https://github.com/herotc/hero-rotation/commit/fa38d345d7b63476a22ad5745e2a0177f9bedac0

[2022-05-15 15:58] #869 closed, assigned to Cilraaz

[2022-05-23 16:07] Kestrelator opened #870 "Disregard"
Sorry; never mind. (couldn't see how to delete)

[2022-05-23 22:48] #870 closed, assigned to nobody

[2022-05-28 09:54] thekk1 commented on #869
This Patch works for the origin Bladestorm ability but NOT works with the Bladestorm triggered by Signet of Tormented Kings.

[2022-06-08 16:13] Oep55 opened #871 "Shadow priest error"
1166x HeroLib\Class\Unit\Aura.lua:32: attempt to index local 'ThisSpell' (a nil value)
[string "@HeroLib\Class\Unit\Aura.lua"]:32: in function <HeroLib\Class\Unit\Aura.lua:27>
[string "=(tail call)"]: ?
[string "@HeroLib\Class\Unit\Aura.lua"]:81: in function `BuffRemains'
[string "@HeroLib\Class\Unit\Aura.lua"]:99: in function `BuffUp'
[string "@HeroLib\Class\Unit\Aura.lua"]:104: in function `Buff

[2022-06-08 16:40] Cilraaz commented on #871
This should be fixed as of commit https://github.com/herotc/hero-rotation/commit/77e0f3981468c7b9fcf788e99c46ac42ed0a0b59

If the issue continues after applying that update, please let us know.

[2022-06-08 16:40] #871 closed, assigned to Cilraaz

[2022-06-08 19:49] MatteoLombardi opened #872 "[Mage - Arcane] Rotation broken"
Hi,

Since I equipped my legendaries [(swapped from frost) Harmony + Unity] the rotation is completely broken.

All it does, both in ST and AoE, is making me spam arcane missile no matter what (no clearcasting, already at 18 stacks) and it's not making me use cooldowns

[2022-07-01 08:56] framara opened #873 "[Outlaw] recommends to use Cache trinket when off CD, not during Axe buff"
Title. Axe weapon from Cache trinket should be recommended in all scenarios, specially when Venthyr, but it recommends to pop it when it's off CD, regardless the weapon in rotation.

[2022-07-07 03:06] Dubzie opened #874 "Not detecting/suggesting Unstable Affliction"
Char lvl 40
Spell ID 342938

Max DPS addon is also not working but is looking for ID (316099)
https://www.curseforge.com/wow/addons/maxdps-warlock/issues/16

[2022-07-08 13:27] Cilraaz commented on #874
Spell ID 316099 is the ID that we use as well, as that is the Spell ID used at max level. Unfortunately, we do not guarantee functionality below max level.

[2022-07-08 13:27] #874 closed, assigned to Cilraaz

[2022-07-08 14:03] Dubzie commented on #874
War mode/Battlegrounds changes it to Spell ID 342938

[2022-07-08 16:34] Cilraaz commented on #874
That's caused by the Rampant Afflictions PvP talent. As PvP is more situational and less rotational, we do not support PvP.

[2022-07-22 15:55] MatteoLombardi opened #875 "[Warlock - Destro] Rain never suggested"
Hello, warlock is simply broken. I've done a dungeon run (full set + sigil) with 9+ mobs pulled. Addon suggests to chaos bolt. Always, as only shard spender.

Draught hit lock too? No rain!

[2022-07-24 13:54] MatteoLombardi commented on #872
Smol bump up. Been over a month and a half, not even a response about reading regarding the issue

[2022-07-26 03:43] GarrettCottrell commented on #875
Yup - I actually came here to make the same exact post - never once has rain of fire ever been recommended at any point in ayn dungeon I've played regardless of pull size

4 pc equipped + double leggo
Tlaent Setup:

2/1/3/1/2/2/1

[2022-07-26 03:58] Cilraaz commented on #875
It looks like the target counter was being called incorrectly. This should be fixed in commit https://github.com/herotc/hero-rotation/commit/344519d5b087053c363c0f5cfb88898c69480f2e

[2022-07-26 03:58] #875 closed, assigned to Cilraaz

[2022-07-26 04:14] Cilraaz commented on #872
Do you have the option for "Use Fishing Opener" enabled? If so, the APL will continue to suggest Arcane Missiles until you reach 18 stacks of Harmony.

If you do not have "Use Fishing Opener" enabled, please enable debug output and let me know what line is being suggested repeatedly.

[2022-07-26 04:18] GarrettCottrell commented on #875
In order to get the most recent commit active in game can I do that via curseforge? In curseforge it says the most recent version is 9.2.5.04 but I doubt that's the one you just released

Thanks for making the change so quickly!

[2022-07-26 04:19] Cilraaz commented on #875
You'd normally need to grab the update from the github. I went ahead and pushed a version 9.2.5.05, which includes this fix, though. That should show up on CurseForge soon-ish.

[2022-07-26 07:20] GarrettCottrell commented on #875
It's working fine now - the only issue im seeing is that when inferno is talented, on 3 targets  its still recommending chaos bolts.

With inferno talented, even with havoc up - it should recommend rain of fire on 3 targets (havoc is simply used for soul shard generation in this scenario) - of course this is all assuming tier is equipped
![4target](https://user-images.githubusercontent.com/4966093

[2022-07-26 08:47] MatteoLombardi commented on #875
![WoWScrnShot_072622_104626](https://user-images.githubusercontent.com/38320292/180964517-83cb74a8-9b59-440e-b297-71813a352bae.jpg)

Not working at all for me, still same old chaos bolt spam

[2022-07-26 12:49] Cilraaz commented on #875
The only way for the addon to know that there are multiple targets (when playing solo) is to use an AoE ability, specifically Cataclysm or Summon Infernal. Havoc cleaving to extra targets won't work, as the addon doesn't understand the difference between Havoc cleaving multiple targets next to each other or hitting two targets across the room from each other with the same spell. When in a group or

[2022-07-26 14:49] GarrettCottrell commented on #875
Great explanation as to how the addon handles aoe scenarios

Yeah that commit seems like exactly what was missing - only issues left seemed (in my limited playtesting) to do with ROF use on smaller target counts, a situation which had rotationally been changed quite a bit by the tierset increasing ROF value at those target counts.

One heads-up - with the nerfs to destro's blasphemy hitting next w

[2022-07-26 15:41] GarrettCottrell commented on #875
For getting the latest commit, I assume I just download zip from the image below and then replace my current herorotation folder within my wow addon folder with the one I downloaded most recently?

![download zip](https://user-images.githubusercontent.com/49660931/181049906-0ccd1519-e30b-414a-8250-2753cf160146.png)

[2022-07-26 16:13] Cilraaz commented on #875
That Download Zip option will pull the latest version of all files for the addon. If you download this zip, only copy the HeroRotation and class folders into your Interface\Addons folder. You don't need the HeroRotation_ClassTemplate folder, .github folder, or any of the individual files.

If you want to update just a single file, such as just Destruction.lua for this update, navigate to the file

[2022-07-26 16:52] GarrettCottrell commented on #875
hm, I copied the raw file and replaced my old file. I diff checked the two files and the contents of the destruction lua file on github and my local file are identical. I also made sure that wow wasn't running when I made the file changes and reloaded once I opened WoW just to be sure.  I am still not receiving ROF recommendations on 3 targets - prior to this clip I had both been spamming ROF and

[2022-07-26 17:07] Cilraaz commented on #875
When you downloaded the updated file, which branch were you on (the dropdown on the left side)? If you want to be sure you have the latest version of the file, Destruction.lua line 229 should be:

`if S.RainofFire:IsReady() and Player:SoulShardsP() >= 3 and (Player:HasTier(28, 4)) then`

That was a newly added line in the latest update.

[2022-07-26 17:12] GarrettCottrell commented on #875
Yeah that is identical to my local line 229 - I also had checked removed lines from the commit and those are no longer in the local file. I also checked other additions from the commit and those are all in my local

To answer your specific question - I was in the shadowlands branch

[2022-07-26 18:57] Cilraaz commented on #875
It looks like an issue (again) with target detection. Since you're using Inferno, you don't have Cataclysm for AoE target counting. The Infernal seems to not be working currently, which is something that will take more time to dig into. In the meantime, I added Rain of Fire to the target counting system. So casting one should now properly update the target count and begin suggesting AoE abilites.

[2022-07-26 19:03] GarrettCottrell commented on #875
Awesome - thanks. Yeah, it seems like the main issue here is testing this on a dummy/solo play combined with how the target countingsystem works. For that specific purpose, having ROF as part of that system is very helpful (while in practice, in a group it is far less impactful since the group will be using aoe abilties much more consistently)

Will be on tonight to check out the updates. Thanks a

[2022-07-26 21:42] GarrettCottrell commented on #875
Also - for this change, I assume I can just take the shadowlands/HeroLib/Events/SplashEnemies.lua file and replace the one I have with that?

[2022-07-27 03:53] Cilraaz commented on #875
I'd attempted to add it without success. The Splash Damage (target counting) system is fairly complex (and written by another dev), so I might have to have someone else take a peek.

[2022-07-27 05:06] Cilraaz commented on #875
I've updated a few more things tonight. The Destruction.lua file had a minor update to use a wider range when checking for targets, which allows the Infernal's initial splash to be counted. I've also tweaked SplashEnemies.lua in HeroLib, which allows it to work with Soul Rot.  If you update both files, AoE should be more usable.

[2022-07-27 05:18] GarrettCottrell commented on #875
ahh very nice - great changes. Thank you

[2022-07-27 15:20] GarrettCottrell commented on #875
Changes work great btw - huge playability difference from a couple days ago

[2022-07-30 14:24] MatteoLombardi opened #876 "[Mage - Fire] Stuck on spamming Firestrike in AoE and Scorch is ST"
Hi, I think something in Fire mage might be broken as APL predictions. In AoE fights the addon seems to want to hard cast flamestrike all the time. In Single Target it seems to fail to try and get hot streaks and scorches a whole lot, with some fireballs sometimes

[2022-09-16 14:28] GarrettCottrell opened #878 "Support for 10.0"
I guess just a general question - do you intend to continue support for this addon with the new talent system moving into 10.0?

[2022-09-16 15:13] Cilraaz commented on #878
Yes. We've already created a dragonflight branch, which is functioning on beta (and should function on the PTR).

Note: APLs haven't been updated, just core functionality.

[2022-09-16 15:13] #878 closed, assigned to Cilraaz

[2022-09-20 15:36] MatteoLombardi opened #879 "[DH Havoc] Double trinket trouble"
Demon hunter seems to have pretty big issues with trinkets.

1) The "show trinket" setting is useless, even if set FALSE (also hardcoding it) it still shows trinket
2) So'leah's trinket keeps on getting suggested even if both own trinket and another player's trinket buffs are present.

[2022-09-20 16:36] Cilraaz commented on #879
1. Items will obey the show trinket setting as of commit https://github.com/herotc/hero-rotation/commit/e4a5a09255bd1c1b1105f7bd5d93a45febdb70a6
2. So'leah's should only be suggested when neither buff is up. If it's being suggested while either is up, I would need to know the spell ID of the buff, as it would need to be added to the code.

[2022-09-20 18:43] MatteoLombardi commented on #879
The ID of my buff on the So'leah is 368512, and I can confirm that with this buff up, it still gets suggested
When I'll happen to be selected by someone I will comment that ID as well

[2022-09-20 19:34] Cilraaz commented on #879
I see the issue. Havoc bypasses our default trinket handler by referencing the trinket slots directly. I'll see if I can put together a fix for this.

[2022-09-21 13:09] Cilraaz commented on #879
Please try again with the changes in the latest two commits:
https://github.com/herotc/hero-lib/commit/030c7e38689c1468afeb900dcdccc62aa8883f7c
and
https://github.com/herotc/hero-rotation/commit/e8f8de71f50907fa2e0970e8a6fad57ef27f07ca

These should make So'leah's act properly.

[2022-09-21 13:39] MatteoLombardi commented on #879
Checked the code and it seems fine to me, unfortunately I'm having issues testing it in game cause with the current version on the addon, copying the commit for Havoc, the specId (577) seems not to match anything. Maybe another change in another commit I missed?

[2022-09-21 13:43] Cilraaz commented on #879
From the past release version, you'd need the most recent Havoc commit as well as https://github.com/herotc/hero-rotation/commit/e4a5a09255bd1c1b1105f7bd5d93a45febdb70a6

Safest bet would probably just be to replace your Havoc.lua file with the contents of the github version: https://raw.githubusercontent.com/herotc/hero-rotation/shadowlands/HeroRotation_DemonHunter/Havoc.lua

[2022-09-21 13:46] Cilraaz commented on #879
I've also pushed version 9.2.7.02 of HeroRotation and HeroLib, which will include these changes.

[2022-09-23 03:28] GarrettCottrell commented on #878
Am I missing a dependency? I downloaded the herorotation shadowlands branch as well as the dbc/lib shadowlands branches and copied the files into my beta addon folder.
![missingdependency](https://user-images.githubusercontent.com/49660931/191886992-a449d32c-63aa-4ef8-9a7f-9980e0a1412f.png)

[2022-09-23 03:30] Cilraaz commented on #878
I have no idea what's in your hero-lib-dragonflight and hero-dbc-dragonflight folders, but that's not the proper file structure.

[2022-09-23 03:37] #879 closed, assigned to Cilraaz

[2022-09-26 14:37] wekks opened #880 "[Mage Fire] Don't suggest hardcast pyroblast with SKB legendary"
Like title, don't suggest hardcast...

[2022-10-11 09:08] cyberbook78 commented on #862
Gesendet mit der mobilen Mail AppAm 04.05.22 um 11:18 schrieb Francisco Martínez Alejandro

                    Von: "Francisco Martínez Alejandro" ***@***.***>Datum: 4. Mai 2022An: "herotc/hero-rotation" ***@***.***>Cc: "Author" ***@***.***>,"cyberbook78" ***@***.***>Betreff: Re: [herotc/hero-rotation] SV Hunter rotation (Issue #862)

rotation is broken since last update

—Reply to this email dir

[2022-10-11 12:56] Cilraaz commented on #862
I have no errors in version 9.2.7.03. You'll have to be more specific.

[2022-10-17 00:43] hubikys opened #881 "пират рога"
при провидении ротации, не учитывает бонус сета, и место устранения рекомендует промеж глаз, но перед этим уже разредили 6 пуль с сета

[2022-10-17 15:19] mhunk commented on #881
google translate: (when providing a rotation, it does not take into account the set bonus, and recommends the place of elimination between the eyes, but before that, 6 bullets from the set have already been thinned out)

[2022-10-17 16:48] EvanMichaels commented on #881
Not aware of at Outlaw set bonus issues as far as I'm aware. Although set bonuses will be deleted in like 1-2 weeks so it's likely not an issue anyway.

[2022-10-25 04:56] Cilraaz commented on #881
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:56] #881 closed, assigned to nobody

[2022-10-25 04:56] Cilraaz commented on #880
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:56] #880 closed, assigned to nobody

[2022-10-25 04:56] Cilraaz commented on #876
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:56] #876 closed, assigned to nobody

[2022-10-25 04:56] Cilraaz commented on #873
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:56] #873 closed, assigned to nobody

[2022-10-25 04:56] Cilraaz commented on #872
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:56] #872 closed, assigned to Cilraaz

[2022-10-25 04:57] Cilraaz commented on #815
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:57] #815 closed, assigned to nobody

[2022-10-25 04:58] Cilraaz commented on #801
APLs are manually converted. We take the Simulationcraft APL and manually translate it using HeroRotation/HeroLib's internal functions.

[2022-10-25 04:58] #801 closed, assigned to nobody

[2022-10-25 04:59] Cilraaz commented on #719
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:59] #719 closed, assigned to nobody

[2022-10-25 04:59] Cilraaz commented on #689
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 04:59] #689 closed, assigned to Hinalover

[2022-10-25 05:00] Cilraaz commented on #674
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 05:00] #674 closed, assigned to nobody

[2022-10-25 05:00] Cilraaz commented on #665
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 05:00] #665 closed, assigned to nobody

[2022-10-25 05:01] Cilraaz commented on #643
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 05:01] #643 closed, assigned to nobody

[2022-10-25 05:01] Cilraaz commented on #573
Closing this issue, as the release of 10.0 will require full rewrites of all spec profiles.

[2022-10-25 05:01] #573 closed

[2022-10-26 03:17] GarrettCottrell opened #883 "Assume we should not expect any updates for prepatch"
Just wanted to confirm whether we should expect anything functioning for prepatch in the future

[2022-10-26 03:48] Cilraaz commented on #883
Core has been updated for the bulk of what we need. At this time, we're transcribing the most complete Simc APLs. Profiles will start coming out slowly, but surely.

[2022-10-26 06:11] orcphelia opened #884 "Hero Rotation isn't showing up on screen"
Exactly what the subject says. I have it enabled, but since pre patch, it isn't on the screen. I know the new UI is breaking a lot of addons. Is this just me?

[2022-10-26 09:20] Hyrpsup commented on #884
Does work if you download the current HeroRotation / HeroDBC / HeroLib from github

[2022-10-26 11:52] Cilraaz commented on #884
As stated, you would need to download the updated versions of HeroRotation, HeroLib, HeroCache, and HeroDBC from their respective github pages. Since there are currently only two completed spec profiles, we have not pushed a 10.0 version yet.

[2022-10-26 11:52] #884 closed, assigned to Cilraaz

[2022-10-26 11:52] #883 closed, assigned to nobody

[2022-10-27 19:48] hubikys commented on #848
подскажите информацию по обновлению аддона для актуапльной версии?

[2022-10-27 23:17] hubikys opened #885 "когда будет обнова"
когда будет обнова до препадча?

[2022-10-28 00:39] #885 closed, assigned to nobody

[2022-10-28 07:19] hubikys commented on #885
так оно нге работает

[2022-10-30 00:03] GarrettCottrell opened #886 "Outlaw RTB Logic doesn't seem to be working as intended"
`else
      -- # Reroll BT + GM or single buffs early other than Broadside, TB with Shadowdust, or SnC with Blunderbuss
      -- actions+=/variable,name=rtb_reroll,value=rtb_buffs<2&(!buff.broadside.up&(!runeforge.concealed_blunderbuss|!buff.skull_and_crossbones.up)&(!runeforge.invigorating_shadowdust|!buff.true_bearing.up))|rtb_buffs=2&buff.buried_treasure.up&buff.grand_melee.up
      if RtB_Buff

[2022-10-30 00:46] EvanMichaels commented on #886
Sounds like you are likely on the older version. The pre-10.0 method for determining RtB duration was made non-functional by the patch. Please update to 10.0 version!

[2022-10-30 00:51] GarrettCottrell commented on #886
Thanks - I currently have version 10.0.0.01 from curseforge. In order to get the version you're referring to, should I download directly from github? There does not appear to be an option to update past what I am currently using in curseforge
![herorotation](https://user-images.githubusercontent.com/49660931/198857814-513f4838-a024-4851-8dd0-0dad166acfed.png)

[2022-10-30 00:57] EvanMichaels commented on #886
I've triggered a new version to be published. You can grab it directly from here or you can wait for CurseForge to pick it up. Hopefully shouldn't take long. Either 10.0.0.02 or 10.0.0.03 should work.

[2022-10-30 00:57] #886 closed, assigned to nobody

[2022-10-30 00:58] GarrettCottrell commented on #886
Thanks - appreciate such a fast response - awesome work with the addon btw, very cool

[2022-11-07 02:00] GarrettCottrell opened #887 "No RTB Suggestion during DB (I imagine this is intended) - Outlaw Rogue"
So, I imagine not rolling during DB is intended but often what will happen is that there aren't any RTB recommendations prior to DB and then buffs fall off in the middle of DB and then there are extended periods of combat with no buffs up at all.

Is there a good solution to this (if it's even an issue) - for example, if the remainder of time on buffs is less than 10s+cd on db and (flag is off cd

[2022-11-08 21:09] GarrettCottrell opened #888 "Outlaw Rogue - Suggesting Early Finishers (without bs or 6 stacks of fth) also - suggesting BTE with gsw buff already active"
Title says most of it - again, if this isn't helpful let me know but there seems to be pretty consistent early finishers suggested when I don't have 6 opp stacks or bs buff.

Also, I notice sometimes I'll already have a gsw buff and it recommends bte without consuming the active buff.

Both of these could just be me misunderstanding outlaw rotation but I believe they are both mistakes so figured I

[2022-11-08 21:43] EvanMichaels commented on #888
BtE can still be recommended depending on the duration of the debuff regardless of if you have the GSW buff.

Not sure what you mean by early finishers though. Would need some more examples of that.

[2022-11-08 21:51] GarrettCottrell commented on #888
yeah I figured that was too vague, ill try and grab some example screenshots this evening of what I believe to be mistakes (but could be me just bein dumb lol)

[2022-11-08 22:10] GarrettCottrell commented on #888
wrt to the bte debuff - does this change in aoe? i.e if I'm hitting 10 mobs should I still be getting recommendations to overrite gsw in deference to refreshing bte debuff?

[2022-11-16 01:18] GarrettCottrell opened #889 "Is evoker supported on prepatch?"

[2022-11-16 01:18] Cilraaz commented on #889
Yes.

[2022-11-16 01:18] #889 closed, assigned to nobody

[2022-11-20 16:09] GarrettCottrell opened #890 "Unholy DK - Recommends Outbreak and then stops recommendations (Beta)"
This may not be relevant since it's specific to the beta version of HeroRotation but on beta, the addon will recommend Outbreak but then as soon as I press outbreak,  the addon stops all recommendations entirely until the plague falls off and then it will recommend outbreak again and if I press outbreak again, it will do the same thing - just stop all further recommendations entirely.

For Beta I

[2022-11-20 16:24] GarrettCottrell commented on #890
Hm, yeah so I made another DK where the addon appeared to be working correctly but after casting outbreak+unholy assault+unholy blight... the addon just permanently recommends pooling and that remains the only recommendation

[2022-11-20 17:01] GarrettCottrell commented on #890
Here's a video that hopefully clarifies what can tough to describe in text:

https://vimeo.com/773049507/e303506c16

[2022-11-21 01:17] Cilraaz commented on #890
I can replicate the issue on beta, but not on live. It might be a talent change or something that hasn't been accounted for in the pre-patch APL. Since it's only an issue on the beta, we're probably going to just ignore it for now. If it becomes an issue upon expansion launch, we'll figure it out.

[2022-11-21 01:17] #890 closed, assigned to nobody

[2022-11-28 04:40] GarrettCottrell opened #891 "Assasination not supported on live currently"
This is the msg I get when I spec into assassination
![assasinationlive](https://user-images.githubusercontent.com/49660931/204195183-91a49eba-aa44-4812-898b-03cc31ded0b9.png)

If this is known/expected - no worries, just for some reason I thought it was supported currently

I am on:

HeroRotation-10.0.2.08
HeroLib-10.0.2.02
HeroDBC-10.0.2.01

[2022-11-28 04:47] Cilraaz commented on #891
[https://github.com/herotc/hero-rotation#supported-rotations](https://github.com/herotc/hero-rotation#supported-rotations)

It is not yet supported.

[2022-11-28 04:47] #891 closed, assigned to nobody

[2022-11-28 22:29] TopherBrowne opened #892 "[Rogue - Subtlety] shadowdance icon is half shadowstrike icon"
Icon shown for ShadowDance is 50/50 with icon for ShadowStrike.
![WoWScrnShot_112822_162012](https://user-images.githubusercontent.com/48744446/204394270-74c74f39-1c9e-4619-affc-4d0a65c1e297.jpg)

[2022-11-28 22:30] EvanMichaels commented on #892
Yes, this is intentional. It is showing you are supposed to Shadow Dance into Shadow Strike. It shows both for anything going into Stealth to give you time to react.

[2022-11-28 22:30] #892 closed, assigned to nobody

[2022-11-28 22:31] TopherBrowne opened #893 "[Rogue - Subtlety] GloomBlade icon is half Stealth icon"
The icon for GloomBlade is half of the Stealth icon.
![WoWScrnShot_112822_162017](https://user-images.githubusercontent.com/48744446/204394718-ae7782a6-f52a-4a36-8a2e-2385689ca80c.jpg)

[2022-11-28 22:34] TopherBrowne commented on #892
Ok. That's good info. It's not very clear just by looking at it. Would two icons with an arrow (glowing?) be  a better way to communicate the intent?